.panel {
    flex: 1;
    overflow: auto;

    > .container {
        height: 100%;
        width: 100%;
        flex-grow: 1;
    }

    // positionning

    .container {
        display: flex;

        &--Vertical {
            flex-direction: column;
        }

        &--Horizontal {
            justify-content: space-between;

            > .container {
                flex: 1;
            }

            > div {
                margin-right: @margin;

                &:last-child {
                    margin: 0;
                }
            }
        }

        &--widget {
            flex-direction: column;
            // flex: 1; // we disable this one to insert scrollable units
            overflow: auto;
            flex-shrink: 0; // We set 0 for now, should be improved
            padding: (@margin / 2) 0;
        }
    }
}

// Borders

.container {
    &--widget {
        border-top: 1px solid @borderLightColor;
    }
}

.project.reader {
}
