.breadcrumb {
    .separator {
        .fa();
        margin: 0 0.5ch;
    }
}

.header__content-top {
    margin-top: @margin*0.5;
    margin-bottom: @margin*0.5;

    .btn {
        margin-right: @margin;
    }
}

.header__actions {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.header__tools {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;

    .select-profile {
        min-width: 250px;
        z-index: 1000; // to be positionned above timleine items when unfolded

        .select__wrapper {
            margin-bottom: 0;
        }
    }
}