.review {
    &__header {
        display: flex;

        >div {
            border-top: 1px solid @textColor;
        }

        .review-header__content {
            flex: 1;
            display: flex;
            align-items: end;
            padding-bottom: @margin;
        }
    }

    &__content {
        margin-top: @margin;
        padding-top: @margin;
        border-top: 1px solid @textColor;
    }

    H2 {
        margin-bottom: @margin;
    }

    &__item {
        display: flex;

        .btn {
            width: 10rem;
            margin-right: @margin;
        }
    }
}