.footer__content {

    border-top: 1px solid @textColor;
    display: flex;
    justify-content: space-between;
    padding-top: (@margin / 3);


    // .panel-count {
    //     padding: 0 1em;
    // }

    .btn-navigate:nth-child(n + 2) {
        flex-direction: row;

        .icon {
            padding-left: 1em;
            padding-right: 0;
        }
    }
}