// COLLAPSING

.editor__background {
    // position: fixed;
    // top: 0;
    // right: 0;
    // bottom: 0;
    // left: 0;
    .absolute(0, @margin, 0, 0);
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2000;

    &.hidden {
        display: none;
    }
}

.editor {
    .absolute(0, 0, 0, 0);
    transform: translateX(0);
    background: @bodyBgColor;
    animation: show 0.5s;
}

@keyframes show {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

// POSITIONING

.editor {
    display: flex;
    flex-direction: column;

    &__header {
        flex-shrink: 0;
    }

    &__body {
        flex-grow: 1;
        display: flex;
        height: 100%;
        overflow: hidden;

        >div {
            height: 100%;
            overflow-y: auto;
        }

        .widget-wrapper {
            flex: 3;
            margin-right: @margin;
            display: flex;
            flex-direction: column;
            overflow: hidden;

            >h2 {
                margin-bottom: 0;
            }

            h2 {
                width: 100%;
            }

            .widget-wrapper-sub {
                height: 100%;
                overflow: hidden;
                display: flex;

                h2:first-child {
                    border-top: 0px;
                }
            }
        }
    }

    &__units {
        max-width: @headerSidebarW;
        flex: 1;
        flex-shrink: 0;
        padding-top: @margin;
        padding-right: @margin;
        margin-right: @margin;
        overflow-y: auto;
    }

    &__ui-singleview {
        flex: 1;
        flex-shrink: 0;
        padding-right: @margin * 2;
        overflow-y: auto;
        display: flex;
        flex-direction: column;

        .container--widget {
            flex: 1;
        }
    }

    &__ui-preview {
        flex: 1;
        flex-shrink: 0;
        margin-left: @margin;
        overflow-y: auto;
        z-index: 2;
    }

    &__widget {
        flex: 1;
        flex-shrink: 0;
        height: 100%;
        overflow-y: auto;

        .stage-wrapper {
            position: sticky;
            bottom: 0;
            background-color: inherit;
            padding: @margin;
            text-align: right;
            z-index: 2;
        }
    }
}

// STYLE

.editor {

    // border-top: 1px solid @textColor;
    &__header {
        border: 0;
        margin-bottom: @margin;
    }

    &__body {
        h2 {
            color: @inactiveColor;
            margin-bottom: @margin;
        }
    }

    &__txt-info-select {
        .textBig();

        h2 {
            color: @textColor;
            padding: @margin 0;
        }
    }

    &__units {
        .unit__page {
            margin-bottom: @margin;

            .radio__item {
                padding: (@margin/4);
                display: flex;
                align-items: center;

                .unit {
                    .textBig();
                    font-weight: @fwSemiBold;
                }

                &.selected {
                    background-color: @bgLightColor;
                }

                &:after {
                    .fas();
                    content: @fa-var-chevron-right;
                    color: transparent;
                    margin-left: auto;
                    flex-shrink: 0;
                }

                &.selected:after {
                    color: @activeColor;
                }
            }
        }
    }

    &__widget {
        background-color: @bgLightColor;
        border-bottom: @borderLight;

        >div {
            padding: 0 @margin;
        }

        h2.head-title {
            padding: @margin;
            position: sticky;
            top: 0;
            background-color: @bgLightColor;
        }

        .field {
            margin-bottom: @margin * 2;
        }

        .field__key.field--write {
            margin-bottom: @margin;
        }

        >div.btn {
            margin-left: @margin;
        }

        .multi-item--collection {
            padding-bottom: @margin;
            border-bottom: @borderLight;
            margin-bottom: @margin;
        }
    }

    &__ui-preview {
        h2.head-title {
            position: sticky;
            top: 0;
            background-color: @bodyBgColor;
        }

        &__item {
            border-bottom: @borderLight;
            margin-bottom: @margin;

            .unit--name {
                margin-bottom: (@margin / 2);
            }
        }

        &__commit {
            position: sticky;
            bottom: 0;
            background-color: @bodyBgColor;
            padding-top: @margin;
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .btn-remove {
                margin-top: @margin;
            }
        }
    }

    &__ui-singleview {
        .container--widget {
            padding-bottom: @margin;
            border-top: 0px;
            border-bottom: @borderLight;
        }

        .widget__tools {
            display: none;
        }
    }
}

.editor__widget--polygon,
.editor__widget--line,
.editor__widget--point {
    &.edition-multi {
        .multi-item--current {
            h2:last-child {
                display: none;
            }
        }

        .field--geom.field--write .field__key {
            display: none;
        }
    }
}

// IMAGES THUMBNAILS

.editor__widget,
.editor__ui-preview {

    .field--geom,
    .field--image__thumbnail {
        img {
            width: auto;
            max-width: 50%;
            max-height: 50vh;
        }
    }
}