.project-list {
    display: flex;
    height: 100%;

    .wrapper {
        flex: 1;
        height: 100%;
        border-top: 1px solid @textColor;
        overflow: hidden;
    }

    .wrapper--left {
        margin-right: @margin;

        h1 {
            // .triangle(@cornerTopLeft, @greyLight); moved in CS-
            position: absolute;
            z-index: 2;
            // padding-right: 6em;
            padding-top: @margin;
            padding-bottom: (@margin / 2);
            // height: 4em;
        }

        .add-project {
            position: absolute;
            top: 5em; // FIX ME
            z-index: 3;
            display: flex;
            flex-direction: column;
            align-items: baseline;

            >.btn-add.hidden {
                display: none;
            }

            .save-project {
                .transitionSlow;
                transform: translate(0, 0);
                position: absolute;
                top: 0;
                display: flex;
                flex-direction: column;
                align-items: baseline;
                background-color: @bodyBgColor;
                padding: @margin;
                padding-left: 0;
                border-bottom-right-radius: @borderRadius;
                border-top-right-radius: @borderRadius;
                -webkit-box-shadow: 0px 6px 9px -4px rgba(153, 153, 153, 1);
                -moz-box-shadow: 0px 6px 9px -4px rgba(153, 153, 153, 1);
                box-shadow: 0px 6px 9px -4px rgba(153, 153, 153, 1);

                &.collapsed {
                    .transitionSlow;
                    transform: translate(-100%, 0);
                }

                .input__wrapper--text {
                    margin-bottom: (@margin/2);
                }

                input {
                    width: 25ch;
                }

                .btn-save {
                    margin-top: (@margin/2);
                    margin-bottom: @margin;
                }
            }
        }
    }

    .wrapper--right {
        padding-top: @margin;
        display: flex;
        flex-direction: column;

        .app-infos {
            margin-bottom: @margin;
        }

        ._project-search {
            height: 100%;
            overflow: hidden;
            display: flex;
            flex-direction: column;

            .post-input-wrapper {
                flex: 1;
                overflow: hidden;

                >div {
                    height: 100%;
                    overflow: auto;
                }
            }
        }

        h2 {
            margin-bottom: @margin;
        }

        .search-input-wrapper {
            // .triangle(@cornerBottomRight, @greyLight);
            width: 100%;
            margin-top: @margin;
            display: flex;
            background-color: @white;
            border: 1px solid @borderLightColor;

            &__picto {
                .fa();
                font-size: 1.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 2em;
            }

            input {
                width: calc(~'100% - @{margin}');
                border: 0px;
                font-size: 1.5rem;
                background-color: transparent;
            }
        }

        .post-input-wrapper {
            display: flex;
            justify-content: space-between;
            margin-top: @margin;

            >div {
                flex: 1;
            }
        }

        .search-btn-list {
            width: 17rem;
            display: flex;
            flex-direction: column;
            align-items: baseline;

            >* {
                margin-bottom: @margin;
                width: 100%;
            }

            // UGLY HACK ON  --> transform a button into a radio//

            .btn-search {
                background: transparent;
                color: @textColor;
                border: 0;
                padding: 0;
                height: auto !important;

                .icon {
                    font-size: 0;
                    border: 2px solid @inactiveColor;
                    width: 1rem;
                    height: 1rem;
                    border-radius: 1rem;
                    margin-right: @margin;
                    flex-shrink: 0;
                }

                .btn-label {
                    line-height: 110%;
                }

                &:hover {
                    box-shadow: initial !important;
                }

                &:hover {
                    .icon {
                        background-color: @activeColor;
                    }
                }

                &.active {
                    .icon {
                        background-color: #ccc;
                    }
                }
            }

            // UGLY HACK OFF //
        }

        .search-result {
            flex-grow: 1;
            margin-left: @margin;

            &__count {
                margin-bottom: (@margin / 2);
            }

            &__list-item {
                position: relative;
                margin-bottom: @margin;
                cursor: default;

                &:hover .search-result__project-name {
                    .activeTextHover();
                }

                &:focus .search-result__project-name,
                &:active .search-result__project-name {
                    .activeTextPressed();
                }
            }

            &__project-name {
                .textBig();
                .activeTextBase();
                font-weight: 400;
            }

            &__project-meta {
                color: @inactiveColor;

                >span {
                    margin-right: @margin;
                }
            }

            &__project-description {
                .textSmall();
                line-height: 120%;
            }
        }
    }
}