.widget {
    &__header {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: (@margin / 2);
        background-color: @bodyBgColor;

        &--top {
            width: 100%;
            // display: flex;
            // justify-content: space-between;
            // align-items: center;
            padding-bottom: (@margin / 2);
        }
    }

    &__meta {
        flex-shrink: 0;
        display: flex;
        justify-content: space-between;
        margin-bottom: (@margin / 2);
        padding-left: (@margin / 3);
        padding-top: (@margin / 3);
        margin-top: (@margin / -2);
        background-color: @bgLightColor;
        background: @bgLightColor;
        background: -moz-linear-gradient(top,
                @bgLightColor 0%,
                @bgLightColor 50%,
                @bodyBgColor 100%);
        // background: -webkit-gradient(
        //     left top,
        //     left bottom,
        //     color-stop(0%, @bgLightColor),
        //     color-stop 50%, @bgLightColor),
        //     color-stop(100%, @bodyBgColor));
        background: -webkit-linear-gradient(top,
                @bgLightColor 0%,
                @bgLightColor 50%,
                @bodyBgColor 100%);
        background: -o-linear-gradient(top,
                @bgLightColor 0%,
                @bgLightColor 50%,
                @bodyBgColor 100%);
        background: -ms-linear-gradient(top,
                @bgLightColor 0%,
                @bgLightColor 50%,
                @bodyBgColor 100%);
        background: linear-gradient(to bottom,
                @bgLightColor 0%,
                @bgLightColor 50%,
                @bodyBgColor 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#ffffff', GradientType=0);

        &:hover {
            .btn.icon-only {
                color: @activeColor;

                &:hover {
                    background-color: transparent;
                    color: @activeColorHover;
                }
            }
        }
    }

    &__tools {
        flex-shrink: 0;
        margin-left: @margin;
        display: flex;
        // flex-direction: column;

        .btn.icon-only {
            height: calc(~'1em + 0.5rem');
            width: calc(~'1em + 0.5rem');
            color: @disabledColor;
            border: 0px;
        }
    }

    &__pub-info {
        font-size: 0.7rem;
        // color: @inactiveColor;
        width: 100%;
        padding-top: (@margin / 3);
        margin-bottom: (@margin / 2);

        >span {
            display: inline-block;
            padding-right: 0.5ch;
        }
    }

    &__tag-list {
        width: 100%;
        margin-bottom: (@margin / 2);
        font-size: 0.7rem;

        .tag-item:nth-child(n + 2) {
            &::before {
                content: ',';
                margin-right: (@margin / 2);
            }
        }

        .tag-item--icon {
            .fa();
            margin-right: (@margin / 2);
        }
    }

    &__name {
        font-weight: 700;
        font-size: 1rem;

        &::first-letter {
            text-transform: uppercase;
        }

        &.timeline__event--active {
            color: @activeColor;
        }
    }
}