@currentAudience : #b6eafa;


// used in table
.cell-highlight {
    background: @currentAudience;
    min-height: 1.8em;
    mix-blend-mode: multiply;
}

// widget header
.audience-display {
    align-items: center;
    border-top: 1px dotted @borderLightColor;
    padding: @margin*0.5 0;

    .widget__wrapper {
        display: flex;
        align-items: center;
    }

    .widget-title {
        font-size: 1.2rem;
        font-weight: @fwSemiBold;
        margin-right: @margin*0.5;
    }

    .edit-audience__help {
        display: none;
    }

    .radio__body {
        display: flex;

        .radio__item {
            margin-right: @margin;
            margin-bottom: 0px;
            padding: @margin*0.5;
            padding-left: 0;

            &.selected {
                background-color: @currentAudience;
            }
        }
    }

    .actions {
        margin-left: auto;
    }
}