@headerSidebarW: 22rem;

.root.query {
    .builder--wrapper {
        display: flex;
        flex-direction: column;

        .query-header {
            flex-shrink: 0;

            .app-info {
                padding: @margin 0;
                display: flex;
                align-items: center;

                h2 {
                    margin-right: auto;
                }

                .btn-save {
                    margin-left: @margin;
                }
            }
        }

        .builder--content {
            height: 100%;
            overflow: hidden;

            .query-list {
                height: 100%;
                overflow-y: auto;
            }

            .statement-builder {
                height: 100%;
                overflow-y: hidden;
                flex: 1;

                >.head-title {
                    margin-bottom: 0;
                }

                &__content {
                    display: flex;
                    height: 100%;

                    >div {
                        height: 100%;
                        width: 100%;
                        overflow: auto;
                    }
                }
            }
        }

        .field__value.field--read {
            display: inline; // quick fix for query preview field value
        }
    }

    .content {
        display: flex;

        h2.head-title {
            .textBig(@inactiveColor);
            background-color: @bodyBgColor;
            margin-bottom: @margin;
            position: sticky;
            top: 0;
            z-index: 999; //force the tooltip to be on top of table header
        }
    }
}