.modalAggComponentStyle() {
    flex: 1;
    max-width: 350px;
    min-width: 250px;
    border-top: @borderLight;
    border-bottom: @borderLight;
    background-color: @bodyBgColor;
    padding: @margin;
}

//general

.modal__query-builder {
    background-color: @bgLightColor;

    h2 {
        margin-bottom: @margin;
    }

    .query-preview {
        background-color: transparent;
        margin-top: @margin * 2;
        padding: 0;
        padding-top: @margin*2;
        border-top: @borderLight;
    }
}

// STEP 1 : Select aggregator

.modal__query-builder {
    .aggregator__wrapper {
        display: flex;

        .aggregator {
            .modalAggComponentStyle();
            margin-right: @margin;
            text-align: center;
            font-size: initial;
            font-weight: initial;
            cursor: initial;

            &:hover {
                color: initial;
                font-weight: initial;
            }

            .aggregator__label {
                margin-bottom: @margin;
            }
        }
    }
}

// STEP 2 : Select filters

.modal__query-builder {
    .render-filter__wrapper {
        .render-filter__items {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .render-filter__item {
            .modalAggComponentStyle();

            .field__key {
                margin-bottom: @margin;
            }

            input {
                width: 100%;
                margin-bottom: @margin;
            }

            .ops-list {
                margin-bottom: @margin;
            }

            .number-op.selected {
                background-color: @activeColor;
                color: @white;
            }
        }

        .button-wrapper {
            margin-top: @margin * 2;
            display: flex;
            justify-content: space-between;
        }
    }
}
