.statement {
    min-width: @headerSidebarW;
    flex-grow: 1;
    margin-left: @margin * 2;

    // >div {
    //     margin-bottom: (@margin / 2);
    // }

    H2.head-title {
        margin-bottom: @margin;
    }

    &--tagline {
        .textBig();
        font-weight: initial;
        margin-bottom: @margin * 2;
    }

    &--operator {
        font-weight: 600;
        margin: (@margin / 2) 0;
    }

    .statement--wrapper {
        .textBig();
        font-weight: initial;
        margin: @margin 0;
        padding: @margin;
        background-color: @bgLightColor;
    }

    &__actions {
        position: sticky;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        padding-top: @margin;

        >div {
            margin-bottom: @margin;
        }
    }
}

.statement-record {
    padding-left: @margin;

    &__unit-label {
        font-weight: @fwSemiBold;
        color: @inactiveColor;
    }

    &__field {
        margin-right: 1ch;
        font-weight: @fwSemiBold;
    }

    &__operator {
        margin-right: 1ch;
    }

    &__value {
        margin-right: 1ch;
        color: @activeColor;
    }
}

.query-preview {
    .textBig();
    font-weight: initial;
    background: @bodyBgColor;

    &--unit-label {
        font-weight: @fwSemiBold;
        color: @inactiveColor;
    }

    &--field {
        margin-right: 1ch;
        font-weight: @fwSemiBold;
    }

    &--operator {
        margin-right: 1ch;
    }

    &--value {
        margin-right: 1ch;
        color: @activeColor;
    }

    &--none:nth-child(n + 2) {
        margin-top: @margin;
        color: @inactiveColor;
    }

    .input__wrapper {
        position: relative;

        .icon {
            .fa();
            .absolute(initial, initial, initial, 0);
            z-index: 2;
            height: 100%;
            width: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0.8em;
        }
    }

    .input__wrapper--text {
        input {
            position: relative;
            padding-left: 2rem;
        }
    }
}