// BTNs

.solar-btn {
    border-radius: 2em;
}

// .solar-btn {
//     position: relative;
//     width: 100%;
//     height: @medium-font * 2;
//     background: @greyExtraLight;
//     border: 2px solid #333;
//     border-radius: 2em;
//     margin: @margin * 2 0;

//     @media @big {
//         width: @sidebarW;
//         margin: @margin 0;
//     }

//     .solar-inner-btn {
//         .absolute(0, 0, 0, 0);
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         border-radius: 2em;
//         border: 2px solid @greyExtraLight;
//         font-size: @medium-font;
//         color: @textColor;
//         text-align: center;
//         cursor: default;
//     }

//     &:hover {
//         background-color: @activeColor;

//         .solar-inner-btn {
//             border: 2px solid @bodyBgColor;
//             background-color: @activeColor;
//         }
//     }

//     &.btn-level-2 {
//         border-color: @greyLight;
//         background: @greyExtraLight;

//         > div {
//             border-color: @greyExtraLight;
//             font-size: @small-font;
//         }

//         &:hover {
//             border-color: @grey;

//             > div {
//                 border-color: @greyExtraLight;
//                 background: @greyExtraLight;
//             }
//         }
//     }
// }
