


.radio__fieldset .radio__control {
    border: 1px solid 
}

.radio__fieldset input:checked + .radio__control > span,
.radio__fieldset .radio__item:hover .radio__control-inner {
    background-color: @green;
}