.focusVisible() {
    &:focus {
        outline: none;
    }
    &:focus-visible {
        outline: 2px solid @textColor;
    }
}

.focusWithin() {
    &:focus-within {
        outline: 2px solid @textColor;
    }
    *:focus,
    *:focus-visible {
        outline: none;
    }
}
