////////// APP HEADER TITLE
.app-split-header {
    .app-split-tools {
        display: flex;
        align-items: center;

        .layer-name {
            margin-right: 1ch;
            color: @activeColor;
            font-size: 1rem;
            font-weight: @fwSemiBold;
        }
    }

    .legend-type-value {

        &:before,
        &:after {
            content: '\00a0';
        }
    }
}

//////////     PICKER

.picker {
    .group {
        // .widgetActiveBackground;
        // padding: (@margin / 2) 0;
        margin-bottom: (@margin/2);
        position: relative; //IE11 fallback
        position: sticky;

        &:first-child {
            margin-top: (@margin/2);
        }

        &:hover {
            background-color: @bgLightColor;
        }

        &.folded {
            color: @textColor;
            font-weight: @fwSemiBold;

            .group-title {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 1rem;
            }
        }

        &.active {
            .flex(initial, initial, wrap);
            background-color: @bgLightColor;
            padding: (@margin / 2);
            z-index: 1;
        }

        .category-title__wrapper {
            width: 100%;
            display: flex;
            align-items: center;

            button.btn-clear {
                margin-left: @margin;
            }
        }

        .group-title {
            font-size: 1.25rem;

            .actions {
                display: flex;
            }
        }

        .group__inner-label {
            width: 100%;
            margin-bottom: (@margin / 2);
        }
    }

    .value-selector-title {
        margin-bottom: @small-margin;
    }

    .tag__list {
        margin-top: @margin;
        width: 100%;
    }

    .add-term__wrapper {
        display: flex;
        width: 100%;

        .input-select-text {
            width: 100%;
            margin-right: (@margin/2);
        }

        .btn {
            margin-left: auto;
        }
    }

    .footer-actions {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: (@margin/2);
    }

    input {
        margin: @small-margin 0;
        width: calc(~'100% - 2 * @{small-margin}');
    }


    //////////     PICKER - CONTINUOUS

    .style-tool.interval {
        padding-left: 0px;
        padding-right: 0px;

        label {
            margin-bottom: 0px;
        }

        input {
            margin: 0px
        }
    }

}

.style-tool.autoclass {

    margin-top: (@margin/2);
    border-top: @borderLight  !important;
    padding-top: (@margin/2);

    .autoclass-picker .nb-decimals{
        .flex(initial, flex-start, initial);
        align-items: center;

        input {
            width: 50% !important;
            margin-left: @margin;
        }
    }

    .style-tool {
        margin: 0px !important
    }

    .color-range {
        // display: flex;
        // justify-content: space-between;

        label {
            display: flex;
            // flex-direction: column;
            flex-wrap: nowrap;
        }
    }
}


//////////     COLUMN PICKER

.column-picker {
    .column-picker-infos {
        width: 100%;
        margin-bottom: @margin;
    }

    .column-name {
        .widgetActiveBackground;
        cursor: default;
        margin-right: @small-margin * 2;
        margin-bottom: @small-margin * 2;
        overflow-wrap: break-word;
        display: inline-block;
    }
}

//////////     LEGEND PICKER

.legend-picker {
    display: flex;
    flex-direction: column;
    // align-items: center;

    &>div {
        cursor: default;
        padding: @margin;
        padding-left: 0;
        font-weight: @fwSemiBold;
        // .widgetActiveBackground;
        // margin-bottom: @margin;

        &::before {
            .far();
            content: @fa-var-square;
            margin-right: @small-margin;
        }

        &.active::before {
            .far();
            content: @fa-var-check-square;
        }
    }

    span {
        .fa();
        cursor: default;

        &:hover {
            color: @activeColor;
        }
    }
}