.feature-form {
    .widgetBackground;
    overflow-y: auto;
    font-size: 80%;

    >div {
        .widgetActiveBackground;
    }

    .input-label {
        .labelStyle;
    }

    input {
        width: calc(~"100% - @{small-margin} * 2");
    }

    .buttons {
        .flex;
        position: sticky;
        bottom: -@small-margin;
        left: 0;
        right: 0;

        &:hover {
            background: @bgLightColor;
            border: 1px solid @borderExtraLightColor;
        }
    }
}