.feature-view {
    overflow-y: auto;

    &.config {
        border-left: 1px solid @borderLightColor;
        padding-left: @margin;

        ////// STRUCTURE  //////

        .feature-field {
            .word-wrap;
            margin-bottom: @small-margin;
        }

        .feature-field-label {
            .labelStyle;
        }

        ////// STYLES //////

        .type- {
            &string {}

            &number {
                font-family: monospace;
            }

            &boolean {
                // color:blue;
            }

            &url {}

            &image {
                width: 100%;
                height: auto;
                margin: @margin 0;
            }
        }

        .level- {
            &normal {
                margin-bottom: @small-margin;
            }

            &title {
                // font-weight: @fwLight  !important;
                font-size: 330%;
                line-height: 90%;
                letter-spacing: -1.5px;
                margin-bottom: @margin;
            }

            &subtitle {
                font-size: 150%;
                font-weight: @fwBold;
                margin-bottom: @margin;
            }
        }

        .style- {
            &normal {}

            &bold {
                font-weight: @fwBold;
            }

            &italic {
                font-style: italic;
            }

            &bold-italic {
                font-style: italic;
                font-weight: @fwBold;
            }
        }
    }
}