.style-tool.color {
    position: relative;

    label {
        display: block;

        &.input-alpha-label {
            margin-top: (@margin/2);
            display: flex;
            justify-content: space-between;

            input {
                width: 12ch;
            }
        }
    }

    input[type=color] {
        .absolute((@margin/2), (@margin/2), initial, initial);
    }
}

// input[type=range] {
//     -webkit-appearance: none;
//     background-color: white;
//     // width: 200px;
//     height: 5px;
//     border: @borderDark;
//     border-radius: 5px;
// }

// input[type="range"]::-webkit-slider-thumb {
//     -webkit-appearance: none;
//     border: @borderDark;
//     // opacity: 0.5;
//     background-color: white;
//     width: 15px;
//     height: 15px;
//     border-radius: 15px;
// }



// .input-color-wrapper {
//     display: flex;
//     justify-content: space-between;

//     .input-alpha-label {
//         display: flex;
//     }
// }

// note nov 2021 - let's keep it for now - 

// .color-component {
//     position: relative;
//     height: 12px;
//     width: 100%;
//     margin: 0 !important;
//     margin-bottom: 2px !important;

//     .picker {
//         height: 100%;
//         width: 100%;
//     }

//     .color-hue {
//         background: linear-gradient(
//             to right,
//             hsl(0, 100%, 50%),
//             hsl(60, 100%, 50%),
//             hsl(120, 100%, 50%),
//             hsl(180, 100%, 50%),
//             hsl(240, 100%, 50%),
//             hsl(300, 100%, 50%),
//             hsl(360, 100%, 50%)
//         );
//     }

//     .marker {
//         height: 100%;
//         width: 2px;
//         border-left: 1px solid white;
//         border-right: 1px solid black;
//         position: absolute;
//         top: 0;
//     }
// }

// .saturation-preview,
// .lightness-preview,
// .alpha-preview {
//     background: url(~'../../imgs/color-bg.png') repeat;
//     height: 100%;
//     width: 100%;
// }

// .color-rgb {
//     width: 100%;
//     display: flex;
//     margin-bottom: @small-margin;
//     justify-content: space-between;

//     > span {
//         flex: 3;
//         max-width: 25%;

//         input {
//             flex: 1;
//             // width: calc(~"50% - @{small-margin}") !important;
//             width: auto !important;
//         }

//         &.color-preview {
//             max-width: 12.5%;
//             position: relative;
//             flex: 1;
//             margin-left: @small-margin;
//             background: url(~'../../imgs/color-bg.png') repeat;
//             .color-color {
//                 position: absolute;
//                 width: 100%;
//                 height: 100%;
//             }
//         }

//         &:first-child:before {
//             padding-left: 0px;
//         }
//     }

//     .red:before {
//         content: 'R : ';
//     }
//     .green:before {
//         content: 'G : ';
//     }
//     .blue:before {
//         content: 'B : ';
//     }
// }