.compose {
    input {
        // font-size: 0.8rem;
        font-size: 1rem;
    }

    .translatable {
        position: relative;

        .btn-translate {
            .absolute(0, 0, initial, initial);

            &.not-translated {
                color: red;

                .icon {
                    color: red;
                }

            }

            &:hover,
            &:focus-visible {
                border-color: red;
                background-color: @bodyBgColor;
            }
        }
    }


    .column {
        height: 100% !important;
        width: calc(~"(100% - 2 * @{margin}) / 3");
        // overflow-y: hidden;

        .column__title {
            position: relative;
            height: @headerH;
            display: flex;
            align-items: center;
            justify-content: space-around;
            font-size: 100%;
            text-transform: uppercase;
        }

        .column__body {
            height: calc(~"100% - @{headerH}") !important;
            overflow-y: auto;
            overflow-x: hidden;
            padding-right: (@margin / 2);
        }
    }
}