.compose-app .sidebar-header {
    padding: (@margin / 2) 0;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    margin-bottom: @margin;
}

.map-publishing-tools {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: @margin;

    .preview-link {
        margin: 0 @margin;

        a {
            text-decoration: none;
            color: @linkColor;

            &:hover {
                color: @linkColorHover;
            }

            &:before {
                .fa();
                content: @fa-var-eye;
                margin-right: (@margin / 2);
            }
        }
    }

    .helptext {
        width: 100%;
        margin-top: @small-margin;
    }
}

.map-date {
    margin: @margin 0;
    display: flex;
    font-style: italic;

    .map-date-value:before {
        content: '\00a0';
    }
}

.map-infos h1 textarea {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

.map-infos textarea.map_info_description {
    width: 100%;
}

.map-file {
    width: 100%;
    margin-top: (@margin/2);

    &:not(:last-child) {
        margin-bottom: @margin;
    }

    .input-wrapper {
        width: 100%;
        margin-bottom: (@margin/3);
    }

    .map-file--actions {
        display: flex;
        align-items: center;

        .link-label {
            font-weight: @fwSemiBold;
        }

        .action__wrapper {
            margin-left: auto;
            display: flex;
        }
    }
}

// .map-file {
//     .flex;
//     .widgetBackground;
//     .word-wrap;
//     position: relative;
//     width: 100%;
//     margin-top: @margin;

//     .map-file-label {
//         width: 100%;
//         margin-bottom: @small-margin;
//     }

//     .map-file-url {
//         width: 100%;
//         font-size: 80%;
//         // font-weight: @fwLight;
//     }

//     .file-label,
//     .file-url {
//         .word-wrap;
//         // background-color: @editable;
//         display: flex;

//         &:before {
//             .fa();
//             .legendItemPosition;
//             justify-content: center;
//             font-size: 1rem;
//         }
//     }

//     .file-label:before {
//         content: @fa-var-pencil-alt;
//     }

//     .file-url:before {
//         content: @fa-var-link;
//         font-size: 1rem;
//     }

//     .btn {
//         margin-top: @small-margin;
//         margin-left: auto;
//     }
// }

// .editable-wrapper {
//     // position: relative;
//     // display: flex;
//     // width: 100%;

//     // &.empty-content {
//     //     color: @inactiveColor;
//     // }

//     // h1,
//     // .map-description,
//     // .group-title {
//     //     // background-color: @editable;
//     //     flex: 1;
//     // }

//     // .group-title {
//     //     width: 100%;
//     // }

//     // .map-illustration {
//     //     width: 100%;

//     //     .empty-image {
//     //         .fa();
//     //         .widgetBackground;
//     //         padding: 0px;
//     //         width: 100%;
//     //         color: @bgLightColor - 10%;
//     //         height: 250px;
//     //         font-size: 200px;
//     //         line-height: 250px;
//     //         text-align: center;
//     //     }

//     //     img {
//     //         width: 100%;

//     //         &.preview {
//     //             opacity: 0.5;
//     //         }
//     //     }

//     //     .uploader-wrapper {
//     //         .flex;
//     //         .widgetBackground;
//     //         min-height: 40px;
//     //         margin-bottom: @margin * 2;

//     //         >.label {
//     //             padding: 5px;
//     //             font-size: 0.8rem;

//     //             &:empty {
//     //                 display: none;
//     //             }
//     //         }

//     //         .btn-remove {
//     //             .absolute((@margin/2), (@margin/2), initial, initial);
//     //             background: #fff;

//     //             &:hover {
//     //                 background: @warningColor;
//     //             }
//     //         }
//     //     }
//     // }

//     // .map-description {
//     //     // override legend-mapinfos.less
//     //     margin-top: 0px !important;
//     //     margin-bottom: @margin;
//     //     min-height: 3rem;
//     //     font-size: 1rem;
//     // }
// }

.map-illustration__wrapper {
    position: relative;
    width: 100%;

    .empty-image {
        .fa();
        .widgetBackground;
        padding: 0px;
        width: 100%;
        color: @bgLightColor - 10%;
        height: 250px;
        font-size: 200px;
        line-height: 250px;
        text-align: center;
    }

    img {
        width: 100%;

        &.preview {
            opacity: 0.5;
        }
    }

    .uploader-wrapper {
        .flex;
        .widgetBackground;
        min-height: 40px;
        margin-bottom: @margin * 2;

        >.label {
            padding: 5px;
            font-size: 0.8rem;

            &:empty {
                display: none;
            }
        }

        .btn-remove {
            .absolute((@margin/2), (@margin/2), initial, initial);
            background: #fff;

            &:hover {
                background: @warningColor;
            }
        }
    }
}

.map-description {
    // override legend-mapinfos.less
    margin-top: 0px !important;
    margin-bottom: @margin;
    min-height: 3rem;
    font-size: 1rem;
}

.legend-wrapper {
    .layer-item {
        display: flex;

        .item-style {
            .legendItemPosition;
            margin-top: @small-margin;

            img {
                width: 100%;
                height: auto;
            }
        }

        .item-label {
            .flex(center, initial, initial);
            min-height: 20px;
        }
    }

    .layer-action {
        font-size: 65%;
    }
}

.map-legend {
    >div {
        position: relative;
    }

    .legend-block {
        background-color: @bodyBgColor;

        .title__wrapper {
            .word-wrap;
            display: flex;

            .order-box {
                flex-shrink: 0;
            }

            .table-name {
                .word-wrap;
                overflow: hidden;
                flex-shrink: 1;
            }
        }

        .table-name {
            font-weight: @fwBold;
            font-size: @gui-font-size * 1.4;
        }

        .legend-block-tools,
        .reset__wrapper {
            display: none;
        }

        &:hover {
            background-color: @bgLightColor;

            .table-name {
                color: @activeColor;
            }
        }

        &:focus,
        &:active {
            background-color: @bgLightColor;

            .table-name {
                color: @activeColorPressed;
            }
        }

        &:hover,
        &.active {
            background-color: @bgLightColor;

            .table-name {
                color: @activeColor;
            }
        }

        &.active {
            .legend-block-tools {
                display: flex;
                flex-direction: column;
                padding: (@margin / 2) 0;
                margin-bottom: (@margin / 2);
                border-bottom: @borderLight;
                border-top: @borderLight;

                // .tool-box {
                //     display: flex;
                //     align-items: center;
                //     padding-bottom: @small-margin;

                //     > * {
                //         margin-left: @small-margin;
                //         &.remove-layer {
                //             margin-left: auto;
                //         }
                //     }
                // }



                summary {
                    margin-bottom: 0px;

                    &:hover {
                        color: @activeColor
                    }
                }

                &[open] summary {
                    margin-bottom: @margin;
                }

                .edit-layer-visibility,
                .edit-feature-infos {
                    display: flex;
                    align-items: center;

                    .label {
                        margin-left: (@margin / 2);
                        font-size: 0.8rem;
                    }
                }

                .zoom-range__wrapper {

                    .zoom-range__label {
                        display: block;
                        font-size: 0.8rem;
                        margin-top: @margin;
                        margin-bottom: (@margin / 2)
                    }

                    // .icon {
                    //     .fa();
                    //     width: 25px;
                    //     height: 25px;
                    //     background-color: @bodyBgColor;
                    //     border: 0px;
                    //     font-size: 11px;
                    //     padding: initial;
                    // }
                }

                .zoom-range {
                    .textExtraSmall();
                    display: flex;
                    align-items: center;

                    .zoom-range-input-box {
                        display: flex;
                        flex-shrink: 0;
                        flex-wrap: wrap;
                        align-items: center;
                        margin-right: @margin;
                    }

                    .select__wrapper {
                        .textExtraSmall();
                        margin-bottom: initial;
                        width: 16ch;
                    }

                    .label {
                        flex-shrink: 0;
                        margin-right: (@margin / 2);
                    }

                    select {
                        .textExtraSmall();
                    }
                }

                .checkbox__wrapper {
                    .textExtraSmall();
                    margin-top: (@margin / 2);
                    margin-bottom: (@margin / 2);
                }
            }

            .reset__wrapper {
                display: flex;
                justify-content: space-between;
                margin-top: (@margin / 2);
                padding: (@margin / 2) 0;
                border-top: @borderLight;

                * {
                    font-size: 0.8rem !important;
                    text-transform: lowercase !important;
                }

            }
        }
    }

    .legend-block {
        // .word-wrap;
        position: relative;
        margin-top: @margin;
        padding: @small-margin;
        cursor: default;

        .table-name {
            margin-bottom: (@margin / 2);
            margin-right: auto;

            .load-error {
                color: @inactiveColor;
                text-decoration: line-through;
            }

            >div {
                width: 100%; // hack for tooltip width and truncated label
            }

            span {
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: inline-block;
                line-height: 115%;
            }
        }

        // .editable-wrapper {
        //     margin: (@margin / 2) 0;

        //     >div:first-child {
        //         // background-color: @editable;
        //         width: 100%;
        //     }
        // }

        .hidden {
            color: @inactiveColor;
            .interactive;
        }
    }
}