//////////     TOOLBOX

.column {
    display: flex;
    flex-direction: column;

    &__title {
        border-bottom: 1px solid @borderLightColor;
    }

    .helptext {
        margin-top: @margin;
    }

    .select {
        display: flex;
        align-items: center;
        padding: 5px;

        label {
            flex-shrink: 0;
            font-weight: @fwSemiBold;
            margin-right: @margin;
        }
    }

    .style-tool {
        padding: (@margin / 3);
        width: 100%;

        &:focus-within {
            background-color: @bgLightColor;
        }

        label {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: @small-margin 0;
        }

        .input-label {
            font-weight: @fwSemiBold;
        }

        input {
            width: 100%
        }

        input[type='number'] {
            width: 8ch;
        }

        input[type='color'] {
            width: 7ch;
        }
    }

    .btn-switch {
        margin-left: auto;
    }
}

//////////     TOOL : LABEL POSITION

.label-position-widget {
    width: calc(~'50% - 4px');
    max-width: 170px;
    min-width: 100px;
    padding: 0 @small-margin;
    background: @bodyBgColor;
    border: 1px solid @inputBorderColor;

    .row {
        .flex(center, space-around, initial);
    }

    .label {
        width: 60px;
        height: 12px;
        background: @inactiveColor;
        margin: 4px 0;

        &.active {
            background: @activeColor;
        }
    }

    .picto {
        font-family: 'Forkawesome';
        width: 40px;
        height: auto;
        text-align: center;
    }
}

//////////     TOOL : PICTO LIBRARY

.style-tool.picto-collection .library .serie>div {
    font-family: 'ForkAwesome';
    display: inline-block;
    padding: @small-margin;
    cursor: default;
    color: @inactiveColor;

    &.selected {
        color: @textColor;
    }
}

//////////     TOOL : HATCHES

.style-tool.hatch-wrapper {
    display: flex;
    justify-content: space-between;

    .hatch-pattern {
        cursor: default;
        font-weight: @fwSemiBold;

        &:before {
            .far();
            width: 20px;
            padding-right: @small-margin;
        }

        &.active:before {
            content: @fa-var-check-square;
        }

        &.inactive:before {
            content: @fa-var-square;
        }
    }

    .angle .library .serie {
        display: flex;
        justify-content: space-between;

        >div {
            cursor: default;
            padding: (@small-margin / 2);
            margin: 0 @small-margin;
            color: @inactiveColor;

            &:last-child {
                margin-right: 0px;
            }

            &.selected {
                color: @textColor;
            }

            &:hover {
                color: @activeColor;
            }
        }
    }

    .angle.disabled * {
        color: @disabledColor  !important;
    }
}