@big-font: @gui-font-size * 1.75;
@medium-font: @gui-font-size * 1.25;
@small-font: @gui-font-size * 0.9;

@contextW: 68vw;
@sidebarW: calc(~'100vw - @{contextW} - @{margin} * 3');
@sidebarH: calc(~'100vh - @{headerH} - @{margin}');
@illuW: calc(~'(@{contextW} - 2 * @{margin}) / 3');
@illuW-medium: calc(~'100vw / 3 - 2 * @{margin}');
@illuW-mob: calc(~'85vw - 4 * @{margin-mob}');
@illuInfosW: calc(~'((@{contextW} - 2 * @{margin}) / 3) - @{margin} * 2');
@illuInfosW-medium: calc(~'((100vw - 2 * @{margin}) / 3) - @{margin} * 3');

@roundedW: 4rem;
@toggleH: 2rem;


@blueMedium : rgba(0, 120, 156, 0.72);

@permitPictoWidth : 3rem;
@bigCheckboxWidth : 2rem;

@infoPictoWidth : 4rem;


@contentFirstColumnWidth : calc(~'@{permitPictoWidth} + @{bigCheckboxWidth} + @{margin}*4');


// infiltration media queries

@big: ~'screen and (min-width: 1025px)';
@sdi900: ~'screen and (min-width: 900px)';
@medium: ~'screen and (min-width: 600px)';




.infiltration .md p {
    line-height: 130%;
}

.infiltration .footer .md p {
    line-height: initial;
}


.content {
    background-color: @bgLightColor;
    border-top: @borderLight;

    .tab__wrapper {
        margin-left: calc(~"@{contentFirstColumnWidth} + @{margin} - 1px");
        margin-bottom: -1px;
        z-index: 2;

        button {
            border: @borderLight;
            margin-right: @margin;
            border-bottom-right-radius: 0px;
            border-bottom-left-radius: 0px;
            font-weight: @fwBold;
            font-size: 1em;
        }

        &.view-summary .summary-btn,
        &.view-detail .detail-btn {
            border-bottom-color: @bgLightColor;
        }

        &.view-summary .detail-btn,
        &.view-detail .summary-btn {
            &:hover {
                background-color: @bgLightColor - 15%;
            }
        }

        button:focus {
            background-color: @bgLightColor - 15%;

        }
    }

    .loader,
    .error {
        padding-left: calc(~"@{contentFirstColumnWidth} + @{margin} - 1px");
        padding-top: @margin * 4;
        text-align: left;
        width: auto;
        border-top: @borderLight;
        font-family: 'nunito', 'source_sans';
        font-weight: @fwBold;
    }

    .loader .loader-spinner {
        margin-left: @margin;
    }

}


@media @sdi900 {

    .content__wrapper {
        display: grid;
        grid-template-columns: @sidebarW 1fr;
        grid-template-rows: auto auto 1fr;
        gap: @margin;
    }

    .sidebar--top {
        grid-column: 1;
        grid-row: 1;
    }

    .sidebar--bottom {
        grid-column: 1;
        grid-row: 2/4;
    }

    .content {
        grid-column: 2;
        grid-row: 1/4;
        // overflow: hidden; See if we keep it or not
        overflow: auto;
        display: flex;
        flex-direction: column;


        .summary,
        .detail {
            height: 100%;
            // overflow: auto; see if we keep it or not
        }


    }

}