// we start with common style, (mobile, portrait, landscape all type of screens)
// we then deploy specific style per specific case

@lightBlue : #99E0FF;


.locate-box {
    position: relative;
    font-size: @medium-font;

    .map-wrapper {
        .absolute(0, 0, 0, 0);
        height: 100%; //override SDI
        margin-bottom: 0; //override SDI
        max-height: 100vh; // weird fix for IE11
    }

    .wrapper-top {
        .absolute(0, 0, 0, 0);
        color: #fff;
        padding: 0 @margin;
        background: rgba(0, 0, 0, 0.5);
        overflow-y: auto;

        h1 {
            color: @lightBlue;
            margin-top: 7vh;
            text-align: center;
            margin-bottom: 0.5em;
        }

        >div {
            display: flex;
            justify-content: center;
            padding-bottom: 2 * @margin;

            &.locate-geocode {
                flex-direction: column;
                align-items: center;
                text-align: center;
            }
        }
    }
}

.locate-pitch {
    font-family: 'nunito';
    font-size: 1.55rem;
    text-align: center;

    strong {
        color: @lightBlue
    }
}

.locate-box .pitch-bold {
    font-weight: 700;
    color: @yellow;
}

// wrapper adress search
.locate-geocode {
    padding-bottom: 0 !important;

    strong {
        color: @lightBlue
    }

    .sub-pitch {
        font-family: 'nunito';
    }

    .input-wrapper {
        width: 100%;
        margin-top: (@margin / 2);

        input {
            border: 2px solid @greyExtraLight;
            border-radius: 0;
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
            height: 2em;
            box-sizing: border-box;
            outline: none;
            // font-weight: 100;
            background-color: @greyExtraLight;
            width: 100%;
            padding-left: 1ch;
            font-size: 1em;
        }

        .btn-analyse {
            width: 100%;
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
            height: 2em;
            box-sizing: border-box;
            background-color: @activeColor;
            color: #fff;
            font-size: 1em;
            padding: 0.4em;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: default;

            .infiltraSoil {
                background-image: url(../../asset/pictos/drop-white.svg);
                display: inline-block;
                width: 1em;
                height: 1em;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                margin-right: 0.5em;
            }
        }
    }

    // adress results
    .geocoder-wrapper {
        position: relative;
        // width: calc(~"100vw - @{margin-mob} * 4");
        background: #fff;
        color: @textColor;
        margin-top: @margin * 2;
        padding: @margin;
        padding-top: 5rem;
        margin-bottom: @margin;
        text-align: left;
        border-radius: 1rem;

        h1 {
            .absolute(0, 0, auto, 0);
            background: @activeColor;
            color: #fff;
            font-size: 1em;
            font-weight: 400;
            letter-spacing: 0.01em;
            padding: @margin;
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
        }
    }

    .adress-result {
        display: flex;
        align-items: center;
        cursor: default;
        font-size: @small-font;
        margin-bottom: (@margin / 2);

        &:last-child {
            margin: 0;
        }

        .select-icon {
            position: relative;
            flex-shrink: 0;
            width: 1em;
            height: 1em;
            margin-right: 1ch;
            border: @borderDark;
            border-radius: 10px;
        }

        &:hover .select-icon:before {
            .absolute(0, 0, 0, 0);
            content: ' ';
            flex-shrink: 0;
            background-color: @activeColor;
            border-radius: 10px;
            border: 3px solid #fff;
            margin: 0;
        }


        .no-address {
            color: @inactiveColor;
            text-align: left;

            .address-error {
                color: red;
            }
        }
    }
}


// Map acces button
.locate-goto-map {
    padding-top: @margin * 4;
    display: block !important;
    text-align: center;

    .sub-pitch {
        font-family: 'nunito';
    }

    .map-button {
        font-size: @medium-font;
        display: inline-block;
        margin-top: @margin;
    }
}

// Related tools
.locate-related-tools {
    // height: calc(~'100vh - 80px');
    padding-top: @margin * 4;
    display: block !important;
    text-align: center;
    font-size: 1rem;

    a {
        color: @lightBlue  !important;
        text-decoration-color: @lightBlue;
        font-weight: @fwSemiBold;
        box-shadow: inset 0 -1px 0 0 @lightBlue;

        &:hover {
            box-shadow: inset 0 -2px 0 0 @lightBlue;
        }
    }
}

// Go to search button
.locate-goto-search {
    position: absolute;
    bottom: @margin * 2;
    left: @margin * 2;

    button {
        font-size: @medium-font;
    }
}

// Related tools

.related-tools {
    position: absolute;
    bottom: @margin * 2;
    right: @margin * 2;
    display: flex;
    flex-direction: column;

    button {
        font-size: @medium-font;

        &.bruwater {
            margin-top: @margin;
            justify-content: center;
            width: 100%;
            text-align: center;
        }
    }
}

// Map specific style
.locate-box {
    .map-wrapper {
        .control-box {
            .zoom {
                display: flex;
                flex-direction: column;
                margin-top: 5px;
            }

            .fullscreen {
                margin-bottom: 0px !important;
            }
        }
    }

    .link-btn {
        position: absolute;
        bottom: @margin;
        right: @margin;
    }
}

.main.locate-geocoder,
.main.locate-map {
    overflow-x: visible;
}

@media @medium {
    .lang-switch-wrapper {
        .absolute(-@margin * 1.75, @margin * 2, initial, initial);
    }

    .main.locate-geocoder,
    .main.locate-map {
        left: 0;
        right: 0;
        padding-right: 0;

        .wrapper-top {
            display: flex;
            flex-direction: column;
            overflow: auto;
            padding: 0;

            >div {
                flex-shrink: 0;
            }
        }
    }

    .locate-box {
        font-size: @big-font;
    }

    .locate-pitch {
        // padding-right: 2 * @margin;
        font-size: @big-font;
    }

    .locate-geocode {
        .input-wrapper {
            width: 65%;
            display: flex;
            align-items: center;
            justify-content: space-around;

            input {
                width: 100%;
                margin-bottom: 0;
                border-radius: 0px;
                border-top-left-radius: @borderRadius;
                border-bottom-left-radius: @borderRadius;
            }

            .btn-analyse {
                width: auto;
                border-radius: 0px;
                border-top-right-radius: @borderRadius;
                border-bottom-right-radius: @borderRadius;
                justify-content: flex-start;
                font-size: 1em;
                border: 2px solid transparent;

                &:hover {
                    border: 2px solid @greyExtraLight;
                }
            }
        }

        .geocoder-wrapper {
            width: auto;
            max-width: 65%;
            min-width: 15em;
            padding: @margin * 2;
            padding-top: 5rem;
            border-radius: @borderRadius;

            h1 {
                font-size: @big-font;
                padding: 0.5em @margin*2;
                border-top-left-radius: @borderRadius;
                border-top-right-radius: @borderRadius;
            }

            .adress-result {
                font-size: 1.1rem;
            }

        }
    }
}

@media @big {
    .locate-box {
        margin: 0 @margin;
    }
}

@media @sdi900 {
    .locate-box {
        margin: 0 @margin;
    }
}