// HEADER 
@media screen and (max-width: 900px) {
    .root.infiltration .header {
        a {
            width: 100%;
        }
    }
}





// FOOTER
@media screen and (max-width: 900px) {
    .root.infiltration .footer {
        height: auto !important;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: @margin * 0.5;

        >span {
            display: block;
            margin-bottom: 0.5em;

            &.footer-infos {
                order: 2;
            }

            &.content--footer {
                order: 1;
            }

            &.csac-credits {
                order: 3;
                margin-left: initial;
            }
        }
    }
}


@media screen and (max-width: 900px) {
    .root.infiltration {

        .header,
        .main,
        .footer {
            position: relative;
            top: initial;
            right: initial;
            bottom: initial;
            left: initial;
        }

        .infiltration-inner {

            .main {

                height: auto;

                .locate-box {
                    min-height: 80vh;
                }

                .locate-box .map-wrapper {
                    max-height: initial;
                }

                .locate-box .wrapper-top {
                    position: relative;
                }

            }
        }

        .locate-goto-search {
            width: calc(~"100% - 2 * @{margin}");

            .btn {
                height: auto;
            }
        }
    }
}


// LOCATE 

@media screen and (max-width: 900px) {

    .root.infiltration {
        .main.locate-map {
            .locate-goto-search {
                bottom: initial;
                left: @margin;
                right: @margin;
                top: @margin;

                button {
                    font-size: 1rem;
                    height: calc(~"2em + 0.225rem")
                }
            }
        }

        .related-tools {
            position: absolute;
            bottom: @margin;
            right: @margin;
            left: @margin;

            button {
                font-size: 1rem;
                margin-top: @margin;
                justify-content: center;
                width: 100%;
                text-align: center;
            }
        }
    }
}


// SUMMARY

@media screen and (max-width: 900px) {
    .root.infiltration {

        .title__wrapper .title--arrow,
        .print-report {
            display: none;
        }

        .common {

            .permit .checkbox__wrapper label input[type='checkbox'] {
                flex-direction: column;
                align-items: center;
                width: 4.5rem;
                margin-bottom: @margin;
                margin-right: @margin;

                &:before,
                &:after {
                    margin: 0px;
                    padding: 0px;
                }

                &:after {
                    margin-left: 10px;
                    margin-top: @small-margin;
                }
            }

            .checkbox-with-text .md {
                .word-wrap();
                margin-left: calc(~"4.5rem + @{margin}");
            }
        }

        .content {
            .tab__wrapper {
                margin-left: @margin;
            }

            .summary-section {
                display: block;

                .summary-title {
                    width: 100%;
                    border-right: 0px;
                    padding-bottom: @margin;

                }
            }

            .summary .legal-list,
            .summary .proximity-list,
            .summary .hydrogeo-list,
            .summary .funding-list {
                display: inline-flex;
                flex-wrap: wrap;
            }

            .summary .legal-list {
                margin-left: @margin * .5;
                padding-bottom: @margin*.5;
            }

            .summary .legal-list.urba {
                margin-left: -@margin * 0.5;

                .list-elem {
                    margin-bottom: 0px;

                    &.legal.cat {
                        border: 0px;
                        margin-top: 0px;
                        margin-left: 0px;
                    }
                }
            }

            .summary .list-elem {
                padding: @margin * 0.5 0;
            }

            .summary .list-elem {
                flex-direction: row;
                width: 100% !important;
                text-align: left;

                .label {
                    width: 100% !important;
                    flex-shrink: 1;
                    text-align: left;
                }

                .picto-infiltration {
                    margin: 0 @margin ;
                    flex-shrink: 0;
                }

                .picto-infiltration {
                    order: -2;

                    &.pic-circle-yes,
                    &.pic-triangle {
                        margin-left: 0px;
                        order: -1;
                    }
                }
            }

            .summary .list-elem.legal.cat .picto-infiltration.pic-08-cat {
                padding: 0px;
            }
        }

        .sidebar--bottom {
            margin-top: @margin;
        }
    }
}

// DETAILS 

@media screen and (max-width: 900px) {
    .root.infiltration {

        .detail .legal {
            // display: block;
            position: relative;
            padding-left: @margin;
        }



        .detail-title {
            padding-left: 0;
            position: absolute;
            z-index: 2;
            width: auto;
        }

        .detail-info {
            padding-top: @margin;
        }

        .detail .list-elem.legal.env {
            flex-direction: row;
            width: 100%;
            text-align: left;

            .picto-infiltration {
                margin: 0 @margin ;
            }
        }

        .indented-top {

            .picto-infiltration.pic-00-env,
            .indented-top-text {
                padding-top: 50px;
            }

            .indented-top-text {
                margin-left: -50px;
                width: calc(~"100vw - 4rem - 5 * @{margin}");
                .word-wrap();
            }
        }

        .indented-list {
            margin-left: 4.5rem;

            .picto-infiltration.pic-00-env,
            .indented-top-text {
                padding-top: 0px;
            }

            .picto__wrapper {
                flex-direction: row-reverse;
                justify-content: flex-end;
                margin-left: -@margin * 3;

                .pic-triangle,
                .pic-circle-yes {
                    margin-right: @margin*2;
                }
            }

            .description {
                width: calc(~"100vw - 4rem - 4.5rem - 6 * @{margin}");
                .word-wrap();
            }
        }

        .detail .indented-list-footer {
            margin-top: 1rem;
        }

        .list-elem.legal.cat {
            padding-left: 0;

            .description {
                .word-wrap();
                padding-left: 2rem;
                width: calc(~"100vw - 4rem - 2rem - @{margin}");
            }
        }

        .detail .proximity,
        .detail .hydrogeo,
        .detail .funding {
            position: relative;
            padding-left: @margin*0.5;

            .list-elem:first-child {

                .picto-infiltration {
                    margin-top: @margin * 3;

                    &.pic-arrow-a-body,
                    &.pic-arrow-a-tip {
                        margin-top: 0px;
                    }
                }

                .description {
                    margin-top: @margin * 3;
                }
            }

            .description {
                .word-wrap();
                padding-left: 2rem;
                width: calc(~"100vw - 4rem - 2rem - @{margin}");
            }
        }

        .screen-env {
            .list-elem.legal.env {
                padding-left: 0px;

                .description,
                .picto-infiltration.pic-00-env {
                    padding-top: 50px;
                }

                .description {
                    padding-left: 0px;
                }

                .stretching-arrow__wrapper {
                    .picto-infiltration {
                        margin: 0px;
                    }
                }
            }
        }

        .screen-no-permit {
            .list-elem.legal.cat {
                // padding-left: 0px;

                .description,
                .picto-infiltration.pic-08-cat {
                    padding-top: 50px;
                }

                // .description {
                //     padding-left: 0px;
                // }

                // .stretching-arrow__wrapper {
                //     .picto-infiltration {
                //         margin: 0px;
                //     }
                // }
            }
        }
    }
}

@media screen and (max-width: 900px) {

    .content .loader {
        padding-left: 0px;
        text-align: center;
        width: 100%;
        padding-bottom: @margin * 2;

    }

    .content.easter-egg {
        .common {
            height: initial;
            border-bottom: 0px;

            .link__wrapper {
                display: none;
            }
        }

        .summary {
            display: block;

            .plouf {
                margin-bottom: @margin;
            }

            .result .picto-infiltration {
                width: 9rem;
            }
        }
    }
}