#print-image-logo {
    width: 0;
    height: 0;
    background-image: url(../../asset/img/logo-be.jpg);
}

#print-image-mask {
    width: 0;
    height: 0;
    background-image: url(../../asset/img/mask.png);
}

.detail {

    .legal,
    .proximity,
    .hydrogeo {
        page-break-inside: avoid;
    }
}

/// Something very close is in client/brugeotool - should be factorized at some point

.css-print {
    padding: @margin * 3;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;

    .helptext {
        margin-bottom: @margin * 2;
        padding: @margin * 2;
        background-color: @bgLightColor;
        max-width: 500px;
        border: 2px solid @activeColor;

        .print-actions {
            margin-top: @margin;
            display: flex;
            justify-content: space-between;
        }
    }


    .project-status {

        .status {
            display: flex;
            align-items: center;
            margin-bottom: @margin*2;

            .picto-infiltration {
                flex-shrink: 0;
                margin-right: @margin;
                height: 2rem;
                width: 2rem;
                display: flex;
                align-items: center;

                svg {
                    width: 2rem;

                }
            }

            h3 {
                margin-bottom: 0;
                padding-top: 0;
            }
        }

        // .status .picto-infiltration {
        //     width: 2rem;
        //     height: 2rem;
        //     // display: inline-block;
        //     margin-right: @margin;
        //     float: left;
        // }

        H3 {
            margin-bottom: @margin;
            padding-top: 0.5rem;

            &::first-letter {
                text-transform: capitalize;
            }
        }

        .description {
            line-height: 130%;
            margin-bottom: @margin;
            padding-left: calc(~"2rem + @{margin}");
        }
    }


    .page {
        position: relative;
        border: @borderLight;
        padding: @margin * 4;
        margin-bottom: @margin * 4;
        width: 62rem;
        min-height: calc(~'62rem * 1.41');
        -webkit-box-shadow: 0px 0px 15px 0px rgba(194, 194, 194, 0.69);
        -moz-box-shadow: 0px 0px 15px 0px rgba(194, 194, 194, 0.69);
        box-shadow: 0px 0px 15px 0px rgba(194, 194, 194, 0.69);
    }

    // .page {
    // &.landscape .page__inner {
    //     transform: rotate(270deg) translate(-141%, 0);
    //     transform-origin: 0 0;
    // -webkit-transform: rotate(-90deg);
    // -moz-transform: rotate(-90deg);
    // filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    // }

    // &.landscape--A3 .page__content {
    //     // transform: scale(0.75);
    //     font-size: 0.75rem !important;
    //     transform-origin: inherit;
    // }
    // }

    // .page .geo-btn {
    //     display: none;
    // }

    // .graph__title--print {
    //     position: absolute;
    //     padding-top: (@margin / 2);
    //     font-size: 0.7rem;
    //     font-weight: @fwSemiBold;
    // }

    // create a mask to block map interaction
    .map-wrapper:before {
        content: ' ';
        .absolute(0, 0, 0, 0);
        z-index: 2;
        background-color: transparent;
    }

    .print-header {
        margin-bottom: @margin * 2;

        h1 {
            margin-bottom: @margin;
        }
    }

    h1 {
        margin-bottom: @margin * 4;
    }

    img.logo {
        height: 50px;
        position: absolute;
        top: @margin * 4;
        right: @margin * 4;
    }

    .mini-map {
        // height: 15rem;
        // height: 250px;
        display: flex;
        justify-content: space-between;
        margin-bottom: @margin * 4;

        .btn {
            display: none;
        }

        // > div {
        //     flex: 1;
        // }

        .mini-map--info-item--adress {
            font-size: 1.2rem;
            font-weight: @fwSemiBold;
            margin-bottom: @margin;
        }

        .map-wrapper {
            // width: 25rem;
            // height: 15rem;
            height: 250px;
            width: 500px;


        }
    }

    .sidebar-header,
    .sidebar__text {
        display: none;
    }
}

// reset style for print

@media print {
    .css-print {
        padding: 0;

        .page {
            border: 0px;
            // padding: 0px;
            margin: 0px;
            max-width: 100%;
            width: 100%;
            min-height: initial;
            -webkit-box-shadow: 0px 0px 0px 0px rgba(194, 194, 194, 0);
            -moz-box-shadow: 0px 0px 0px 0px rgba(194, 194, 194, 0);
            box-shadow: 0px 0px 0px 0px rgba(194, 194, 194, 0);
        }

        img.logo {
            // right: 0;
            // top: 0;
        }
    }
}

// hide elements

@media print {

    .helptext {
        display: none;
    }
}

// specific print rules

@media print {
    html {
        // font-size: 9pt;
    }

    .page table {
        // font-size: 8pt;
    }

    .page {
        page-break-after: always;
        height: initial !important;
        width: auto !important;

        // &.landscape .page__inner {
        //     transform: rotate(270deg) translate(-141%, 0) !important; // translate value might seems weird but is needed at least in Chrome print
        //     transform-origin: 0 0;
        // }
        h1 {
            margin-bottom: @margin * 2 !important;
        }

        p {
            margin-bottom: 0.75em;
        }
    }
}