.plot-block {
    .plot {
        display: flex;
        flex-direction: column;
        height: 100%;

        .barchart-svg {
            flex-shrink: 0;
        }

        .table {
            overflow-y: auto;
            overflow-x: hidden;
        }
    }
    .plot {
        rect.active {
            fill: yellow;
        }

        .barchart-legend {
            display: flex;
            justify-content: flex-end;
            padding-right: @margin;
            .percentile {
                display: flex;
                margin-left: 1em;
                .icon {
                    height: 12px;
                    width: 12px;
                    margin-right: 0.5em;

                    &.p10 {
                        background-color: #ff9800;
                    }
                    &.p50 {
                        background-color: #a56f68;
                    }
                    &.p90 {
                        background-color: #d53e2a;
                    }
                }
            }
        }
    }
    .table {
        margin-top: @margin;
        padding-right: @margin;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        max-height: 400px;

        .table-row {
            display: flex;
            justify-content: space-between;
            cursor: default;
            &.even {
                background-color: @mdqBgLight;
                border-radius: @radius;
            }
            &.selected {
                // outline: 1px solid @activeColor;
                background-color: yellow;
            }
            &:hover {
                font-weight: bold;
            }
        }

        .table-header {
            // position: sticky;
            // top: 0;
            // background-color: @bodyBgColor;
            display: flex;
            justify-content: space-between;
            flex-shrink: 0;
            padding: @margin 0;
            &:first-child {
                text-align: left;
            }

            &:last-child {
                text-align: right;
            }

            .table-header-cell {
                .btn:hover {
                    color: white;
                }

                [data-tooltip]:before,
                [data-tooltip]::after {
                    display: none !important;
                }
            }
        }

        .table-body {
            overflow-y: auto;
            padding-right: @margin;
        }

        .table-cell {
            padding: (@margin / 2);
            line-height: 120%;

            &:first-child {
                width: 100%;
            }
            &:last-child {
                color: @activeColor;
                text-align: right;
            }
        }
    }
    .sources {
        margin-top: @margin;
        .source {
            padding-top: (@margin / 2);
        }
    }
}
