// TOOLS : SHARE
.tool.share,
.tool.embed {
    .helptext {
        margin-bottom: @margin;
    }

    .text-copy {
        margin: @small-margin 0 @margin 0;
        border: 1px solid @borderLightColor;
        padding: @small-margin;
        // max-height: 4em;
        overflow-y: auto;
    }

    .text {
        font-size: @gui-font-size * 0.8;
        font-family: monospace;
        color: @inputPlaceholderColor;
    }

    .copy {
        .interactive;
        float: right;
        color: @activeColor;
        font-size: 0.9em;
        cursor: default;
        padding: 0 0 @small-margin @small-margin;

        .copied {
            color: transparent;
            position: absolute;
            display: block;
            margin-top: -40px;
            transition-duration: 3s;
            transition-delay: 0s;
            transition-timing-function: cubic-bezier(0, 2, 0.75, 1);
        }

        &:active .copied {
            color: @activeColor;
        }
    }
}
