// TOOLS :  WIDGET on MAP FULL SCREEN
.tool-widget {
    .absolute (@margin, @margin, initial, initial);
    width: @panel-rightW;
    height: auto !important;
    padding: @small-margin;
    background: #fff;
    border: 1px solid @borderLightColor;

    > div {
        margin-bottom: @margin;

        &:last-child {
            margin: 0px;
        }
    }
}

// TOOLS GENERAL

.tool .btn.label,
.tool .btn.label-and-icon {
    margin: @margin 0;
}
