@font-face {
    font-family: 'u001-con';
    src: url('https://www.atelier-cartographique.be/css-tower/fonts/u001/u001con-reg.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'u001-con';
    src: url('https://www.atelier-cartographique.be/css-tower/fonts/u001/u001con-ita.woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'u001';
    src: url('https://www.atelier-cartographique.be/css-tower/fonts/u001/u001-reg.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'u001';
    src: url('https://www.atelier-cartographique.be/css-tower/fonts/u001/u001-ita.woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'u001';
    src: url('https://www.atelier-cartographique.be/css-tower/fonts/u001/u001-bol.woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'u001';
    src: url('https://www.atelier-cartographique.be/css-tower/fonts/u001/u001-bolita.woff');
    font-weight: bold;
    font-style: italic;
}