
@margin : 32px;
@border : 1px solid #000;

body {
    font-family: 'u001', sans-serif;
    padding: @margin @margin * 2;
    max-width: 60ch;
    margin: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'u001-con', sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 6rem;
    margin-top: 0;
}

h2 {
    font-size: 4rem;
}
h3 {
    font-size: 2.7rem;
}
h4 {
    font-size: 1.5rem;
}
h5 {
    font-size: 4rem;
}

.tagline {
    font-family: 'u001-con', sans-serif;
    font-size: 4rem;
}


.footer {
    padding: @margin 0;
    border-top: @border;
    font-size: 0.8rem;
}

