.geo-btn--2.geo-btn--data,
.geo-btn--2.geo-btn--select,
.geo-btn--2.geo-btn--open,
.geo-btn--2.geo-btn--drill,
.geo-btn--2.geo-btn--3d,
.geo-btn--2.geo-btn--slice,
.geo-btn--2.geo-btn--pin,
.geo-btn--measure {
    border: 0px !important;
    background-repeat: no-repeat;
    background-position: center;

    // &.active,
    // &:focus,
    // &:hover {
    //     background-color: #fff;
    // }
}

.geo-btn--data {
    background-image: url(../../../assets/icons/view-data-0.svg);

    &.active,
    &:focus,
    &:hover {
        background-image: url(../../../assets/icons/view-data-1.svg);
    }
}

.geo-btn--select {
    background-image: url(../../../assets/icons/tool-selection-0.svg);

    &.active,
    &:focus,
    &:hover {
        background-image: url(../../../assets/icons/tool-selection-1.svg);
    }
}

.geo-btn--open {
    background-image: url(../../../assets/icons/mode-analysis-0.svg);

    &.active,
    &:focus,
    &:hover {
        background-image: url(../../../assets/icons/mode-analysis-1.svg);
    }
}

// .geo-btn--print {
//     background-image: url(../../../assets/icons/print-off.svg);
// }

.geo-btn--drill {
    background-image: url(../../../assets/icons/mode-drilling-0.svg);

    &.active,
    &:focus,
    &:hover {
        background-image: url(../../../assets/icons/mode-drilling-1.svg);
    }
}

.geo-btn--3d {
    background-image: url(../../../assets/icons/view-3d-0.svg);

    &.active,
    &:focus,
    &:hover {
        background-image: url(../../../assets/icons/view-3d-1.svg);
    }
}

.geo-btn--slice {
    background-image: url(../../../assets/icons/view-cut-0.svg);

    &.active,
    &:focus,
    &:hover {
        background-image: url(../../../assets/icons/view-cut-1.svg);
    }
}

.geo-btn--pin {
    background-image: url(../../../assets/icons/tool-marker-0.svg);

    &.active,
    &:focus,
    &:hover {
        background-image: url(../../../assets/icons/tool-marker-1.svg);
    }
}

.geo-btn--measure {
    background-image: url(../../../assets/icons/tool-measure-0.svg);

    &.active,
    &:focus,
    &:hover {
        background-image: url(../../../assets/icons/tool-measure-1.svg);
    }
}

// .geo-btn--zoom-in {
//     background-image: url(../../../assets/icons/plus.svg);
//     &.active,
//     &:focus,
//     &:hover  {
//         color: @white;
//         background-color: @activeColor;
//     }
// }

// .geo-btn--zoom-out {
//     background-image: url(../../../assets/icons/minus.svg);
//     &.active,
//     &:focus,
//     &:hover {
//         color: @white;
//         background-color: @activeColor;
//     }
// }

// .geo-btn--north .btn__icon {
//     background-image: url('../../../assets/icons/north-arrow.svg');
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: contain;
//     width: 100%;
//     height: 100%;
// }

.geo-btn--move-up {
    background-image: url(../../../assets/icons/up.svg);
}

.geo-btn--move-down {
    background-image: url(../../../assets/icons/down.svg);
}

.geo-btn--left-cut {
    background-image: url(../../../assets/icons/angle-left-off.svg);

    &.active,
    &:focus,
    &:hover {
        background-image: url(../../../assets/icons/angle-left-on.svg);
    }
}

.geo-btn--right-cut {
    background-image: url(../../../assets/icons/angle-right-off.svg);

    &.active,
    &:focus,
    &:hover {
        background-image: url(../../../assets/icons/angle-right-on.svg);
    }
}

.geo-btn--double-cut {
    background-image: url(../../../assets/icons/angle-center-off.svg);

    &.active,
    &:focus,
    &:hover {
        background-image: url(../../../assets/icons/angle-center-on.svg);
    }
}

.geo-btn--uncut {
    background-image: url(../../../assets/icons/angle-no-cut-off.svg);

    &.active,
    &:focus,
    &:hover {
        background-image: url(../../../assets/icons/angle-no-cut-on.svg);
    }
}



.geo-btn--zoom-out,
.geo-btn--zoom-in,
.geo-btn--north {
    .btn-icon {
        .fa();
        width: 100%;
        height: 100%;
        border-radius: 100%;
        border: 2px solid #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        color: @activeColor  !important;
    }

    &.active .btn-icon,
    &:focus .btn-icon,
    &:hover .btn-icon {
        color: @white  !important;
        background-color: @activeColor;
    }
}