.geo-btn {
    .btn();
    flex-direction: row;
}

.geo-btn--icon {
    width: calc(~'2em + @{innerPadding}');
    padding: 0;
    border-radius: 100%;
    background-position: center;
    background-size: contain;

    .icon,
    .btn__icon {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.geo-btn--1 {
    .btn-1();
}
.geo-btn--2 {
    .btn-2();
}
.geo-btn--3 {
    .btn-3();
    background-color: @bodyBgColor;
}

// .geo-btn--2.geo-btn--icon {
//     background-color: @bodyBgColor;
//     &:hover {
//         background-color: @activeColor;
//         color: #fff;
//     }
// }

.geo-btn--move-up {
    .absolute(initial, @margin, @margin, initial);
    z-index: 2;
}
.geo-btn--move-down {
    .absolute(@margin, @margin, initial, initial);
    z-index: 2;
}

.btn__icon {
    .fa();
}

.btn__icon + .btn__label {
    padding-left: @margin;
}

.btn-3.icon-only {
    margin: 0px;
}

.btn-wrapper {
    display: flex;
    flex-wrap: wrap;
    > * {
        margin-right: @margin;
    }
}

a.geo-btn {
    box-sizing: border-box;
    display: flex !important;
    align-items: center;
    color: @bodyBgColor !important;
    border: 2px solid @activeColor !important;
    padding: 0 30px;
    &:hover,
    &:focus-visible {
        .transition;
        border: 2px solid @activeColor !important;
        cursor: default;
        font-weight: 400;
        font-size: @btnFontSize;
        border-radius: @borderRadius;
    }
    &:hover *,
    &:focus-visible * {
        color: @activeColor;
        background-color: @bodyBgColor;
    }
}

.content--body .switch-out__fieldset {
    .absolute(@margin, initial, initial, @margin * 2);
    z-index: 1000;
    font-size: 0.9rem;

    .switch__body {
        flex-direction: column;
        align-items: baseline;
    }

    .toggle__wrapper {
        .absolute((@margin / 3),0,0,-@margin * 2.2);
        transform: rotate(90deg);
        font-size: 0.7rem;
        background-color: @bodyBgColor;
    }

    .switch__item.selected {
        color: @activeColor;
    }
}

.main.general .content--body .geo-toggle {
    top: @margin * 4;
}

/////// OLD TOGGLE

// .content--body .geo-toggle {
//     .absolute(@margin, initial, initial, @margin * 2);
//     z-index: 1000;
//     font-size: 0.9rem;
//     display: flex;
//     flex-direction: column;
//     align-items: baseline;
//     cursor: default;

//     .toggle {
//         font-size: 0.5rem;
//         position: absolute;
//         left: -25px;
//         top: 0.8em;
//         transform: rotate(90deg);
//         margin: 0;
//     }
//     .value:hover {
//         color: @activeColor;
//     }
// }
