.map-infos {
    // padding-bottom: 0px !important;
    margin-top: (@margin / 2);

    .map-illustration img {
        width: 100%;
        height: auto;
    }

    .map-description {
        margin: @margin * 2 0;
        line-height: 120%;

        p:first-child {
            text-indent: 18px;
        }
    }

    .map-attached-files {
        margin: @margin 0;

        .map-file {
            .link;
            .word-wrap;
            display: flex;
            margin-bottom: @small-margin;

            &:before {
                .fa();
                .legendItemPosition;
                justify-content: center;
                content: @fa-var-link;
            }
        }
    }
}
