.strati-legend-details {
    margin: @margin 0;
}

.hydro-legend-details {
    margin-bottom: @margin;
}

.lithostrti-item,
.hydro-item {
    display: flex;
    align-items: center;
    margin-bottom: 7px;

    .style {
        height: 20px;
        width: 50px;
        overflow: hidden;
        border: 1px solid #767676;
        flex-shrink: 0;
    }

    .label {
        margin-left: @margin*0.5;
    }
}

.legend-slice {
    .strati-619 {
        .style {
            // background-color: #ccc;
            background-color: #fff;
        }

        img {
            display: none;
        }
    }
}


.legend-slice,
.legend-log {

    .legend--hydro {
        .hydro-item.aquifere .style {
            background-color: #fff;
        }

        .hydro-item.aquitard .style {
            background-color: #ccc;
        }

        .hydro-item.aquiclude .style {
            background-color: #707070;
        }
    }
}