.map-scale--vertical {
    .absolute(initial, initial, 0, 3rem);
    width: 20px;
    font-size: 7pt;
    background-color: @bodyBgColor;
    padding: 0.5em;
    padding-bottom: 0;
    padding-left: 0;

    .map-scale-line {
        display: flex;
        flex-direction: column;
        border: 1px solid #000;
        border-right: 0px;
        width: 6px;

        .quarter {
            flex: 1;
            width: 33%;

            &:first-child {
                border-bottom: 1px solid #000;
            }
        }

        .half {
            flex: 2;
            border-top: 1px solid #000;
            width: 66%;
        }
    }

    .map-scale-label {
        background: @bodyBgColor;
        width: 50px;
        padding: 0.5em;
        padding-bottom: 0px;
        margin-top: 0.5em;
    }
}