.alias-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-top: @borderLight;
    padding-top: @margin;

    * {
        box-sizing: border-box;
    }

    .alias-widget {
        display: flex;
        margin-top: @margin;
        height: calc(~'100% - 63px');

        .alias-table {
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            // align-items: center;
            overflow: hidden;

            // .infinite-table {
            //     height: calc(~'100% - 50px');
            // }
            > button {
                width: fit-content;
            }
        }

        .form {
            flex: 1;
            max-width: 500px;
            margin: @margin * 2;
            padding: @margin * 2;
            background-color: @bgLightColor;

            > div {
                margin-bottom: @margin;
            }

            .input-label {
                margin-right: @small-margin;
                display: block;
            }

            input {
                width: 100%;
            }

            .form-select input {
                font-size: 2em;
                // font-weight: @fwLight;
            }

            .form-replace input {
                font-size: 1.5em;
                // font-weight: @fwLight;
            }

            .form-actions {
                .flex();
                position: relative;
            }
        }
    }
}
