//MAP NAVIGATOR

@media @sdi-small {
    .map-navigator {
        width: 100%;
        border: 0px;
        padding: 0;

        h1 {
            margin-bottom: @margin;
        }

        .input-wrapper,
        .input-wrapper input {
            width: 100%;
            font-size: 1rem;
        }

        .maps-container .map-navigator-tile {
            width: 100%;
        }
    }
}

// MAP VIEWER 

@media @sdi-small {
    .main {
        display: flex;
        flex-direction: column;

        .map-wrapper {
            order: 1
        }

        .switcher {
            order: 2
        }

        .sidebar__wrapper {
            order: 3;
        }
    }
}


//MAP WIDGETS

@media @sdi-small {


    .main .map-wrapper {
        height: calc(~'100vw - 4 * @{margin-mob} + 2em + 2 * @{small-margin}'); // make a square map + geocoder & margin height 
    }

    .main .switcher {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-radius: 0px;
        border: none;
        border-bottom: 1px solid #000;
        overflow-x: auto;

        .switch-item {
            width: auto;
        }

        .picto:before {
            font-size: 15px;
        }
    }

    .main .geocoder-wrapper {
        .absolute(@small-margin, @small-margin, initial, @small-margin);

        .search-wrapper {
            width: 100%;
        }

        .search {
            width: inherit;
        }
    }
}

//LEGEND

@media @sdi-small {
    .datas-wrapper .layer-actions {
        width: auto;
        font-size: 1rem;
        height: calc(~'1rem + 5px');
        margin: 0;

        .visible:before,
        .hidden:before,
        .table:before {
            height: calc(~'1rem + 5px');
            width: calc(~'1rem + 5px');
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            margin-right: 5px;
        }
    }
}

@media @sdi-small {
    .main .sidebar__wrapper {
        position: relative;
        margin-top: 20px;
        padding: 0;
        padding-bottom: 50px;
        top: initial;
        right: initial;
        bottom: initial;
        left: initial;
    }
}

// TOOLS INFOS

@media @sdi-small {
    .tool-widget {
        position: relative;
        width: 100%;
        border: 0px;
        top: initial;
        right: initial;
        bottom: initial;
        left: initial;
        z-index: 2;
    }
}