/* @page rotated {
    size: A3 landscape;
}

@media print {
    .page--a3-landscape {
        page: rotated;
        page-break-after: always;
    }
} */

/* @media print {
    @page {
        size: landscape;
    }
} */
