.main.config .content__map {
    min-height: 33vh;
}

.content__params {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: @margin;
    background-color: @bgLightColor;

    h2.main-title {
        border-bottom: @borderDark;
        margin-bottom: @margin;
    }
}

.pickers__wrapper {
    display: flex;
    height: 100%;
    overflow: hidden;

    >div {
        flex: 1;
        display: flex;
        flex-direction: column;

        // &:first-child {
        //     margin-right: (@margin / 2);
        // }
        // &:last-child {
        //     margin-left: (@margin / 2);
        // }
        &.input__wrapper--text {
            flex: initial;
            flex-direction: row;
            width: 100%;
        }
    }

    input {
        margin-bottom: @margin;
    }

    .selector-params {
        flex: 1;
        overflow: hidden;
        display: flex;
        flex-direction: column;


        .station__list {

            .no-data {
                color: rgb(116, 116, 116);

                button {
                    color: rgb(201, 201, 201);
                }
            }
        }
    }

    .selected-params {
        flex: 1;
        overflow: hidden;
        border-top: @borderDark;
        padding-top: @margin;
        display: flex;
        flex-direction: column;

        .parameter__list {
            overflow: auto;
        }

        .params__actions {
            padding-top: @margin;
            display: flex;
            justify-content: space-between;
            margin-top: auto;
        }
    }

    .selected-stations {
        flex: 1;
        overflow: hidden;
        border-top: @borderDark;
        padding-top: @margin;
        display: flex;
        flex-direction: column;

        .parameter__list {
            overflow: auto;
        }
    }


}

.station__picker {
    .params__actions {
        padding-top: @margin;
        display: flex;
        justify-content: space-between;
        margin-top: auto;
    }
}

.param,
.group {
    &--selected {
        display: flex;
        align-items: center;
        margin-bottom: (@margin / 2);

        .btn {
            flex-shrink: 0;
            margin-right: (@margin / 2);
        }
    }

    &__label {
        padding: 0.3rem;
        font-size: 1rem;
        // text-transform: uppercase;
        // background-color: @bgLightColor;
    }
}

.group__list {
    overflow-y: auto;
    padding-right: @margin*0.5;
    margin-right: @margin*0.5;
}

.group--selected {
    margin-bottom: @margin;
    justify-content: space-between;
}

ul {
    overflow-y: auto;

    li {
        padding: 0.3rem 0;
    }
}

.pickers__wrapper li {
    display: flex;
    align-items: center;

    &:before {
        .far();
        content: @fa-var-square;
        display: block;
        margin-right: 0.5ch;
        width: 1rem;
        flex-shrink: 0;
    }

    &:hover::before {
        content: @fa-var-check-square;
    }

    button {
        text-align: left;
        font-size: 1rem;
    }
}

.content__params.piezzo {

    h2.main-title,
    .picker-params:first-child,
    input {
        display: none;
    }

    .picker-params {
        flex-direction: row;
    }

    .selected-params {
        border: 0px;
        padding: 0px;
        padding-left: @margin;
        border-left: @borderDark;
    }
}