//index page
.content--index {


    h2 {
        margin: @margin 0;
    }

    .select-station__wrapper {
        margin-top: @margin;

        .tag__list {
            margin-top: @margin;
        }

        .actions {
            display: flex;
            justify-content: space-between;

            .btn {
                margin-top: @margin*0.5;
            }
        }
    }

    details.select-filter__wrapper {
        // margin-bottom: @margin;
        max-width: initial;

        .select-tail__wrapper {
            position: relative;
        }
    }

    .map-wrapper {
        height: 100%;
    }
}

.content--index,
.content--config,
.content--plot {

    h1 {
        margin-bottom: @margin;
    }

    // .switch {
    //     width: 100%;
    //     margin: @margin 0;
    //     height: 2.5em;
    //     border-radius: 2.5em;
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: center;
    //     background-color: @bgLightColor;
    //     border: 2px solid @greyMedium;
    //     cursor: default;
    //     box-sizing: border-box;

    //     .label {
    //         flex: 1;
    //         display: flex;
    //         align-items: center;
    //         justify-content: center;
    //         height: calc(~'2.5em - 4px');
    //         font-weight: @fwSemiBold;
    //         color: @inactiveColor;
    //         border-radius: 2.5em;
    //         border: 2px solid transparent;
    //         box-sizing: border-box;

    //         &.active {
    //             color: @bodyBgColor;
    //             background-color: @blue;
    //             border: 2px solid @bgLightColor;
    //         }

    //         &.inactive:hover {
    //             color: @blue;
    //         }
    //     }
    // }


    .pitch {
        font-family: 'nunito';
        font-weight: 800;
        line-height: 1.05;
        font-size: 1.412rem;
        color: @activeColor;
        // font-size: 1.2rem;
        // line-height: 120%;
        margin-top: @margin;


        .md p {
            margin-bottom: 0.5em;

            &:last-child {
                margin-bottom: 0px;
                margin-top: 0px;
            }
        }

    }

    .switch-out__fieldset {
        font-family: 'nunito';
        font-weight: 800;
        line-height: 1.05;
        font-size: 1.412rem;
        color: @activeColor;

        // font-size: 1.2rem;
        // line-height: 120%;
        margin-bottom: @margin;

        .unselected {
            color: @inactiveColor;

            &:hover {
                color: @activeColor;
            }
        }
    }
}