.content__table {
    // max-height: 66vh;
    flex-basis: 66vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .content__body {
        overflow: hidden;
        margin: (@margin / 2) 0;
        display: flex;
        flex-basis: 100%;

    }
}