.date-input {
    font-weight: @fwSemiBold;

    button {
        margin-left: 0.5em;
    }

    select {
        font-size: inherit;
        padding: (@margin / 2);
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        >* {
            margin-right: 0.5em;
        }

        input {
            margin-right: 0.5em;
            padding: 0.2em;
            font-size: inherit;
            font-family: inherit;
        }

        .btn-reset {
            flex-shrink: 0;
            margin-right: 0;
        }
    }

    .input-date-format {
        background-color: @bgLightColor;
        padding-left: @margin*0.5;
    }
}

// SHOULD BE PORTED TO GENERAL STYLE ONCE CLEANED UP

.input-date-picker {
    display: flex;

    >div {
        margin-right: 0.5em;
    }

    .select__wrapper {
        font-size: inherit;
        margin-bottom: 0px;
    }

    .input-date-year-list .select__wrapper {
        min-width: 5ch;
    }

    .input-date-month-list .select__wrapper {
        min-width: 14ch;
    }

    .input-date-day-list .select__wrapper {
        min-width: 3ch;
    }
}