.map-legend {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .legend-group {
        width: 100%;
        background-color: @bgLightColor;
        border-top: @borderDark;
        padding: @margin;
    }

    .legend-decorated {
        display: flex;
        align-items: center;
        width: 100%;

        .decorated {
            width: 100%;
        }

        .decoration {
            flex-shrink: 0;
        }
    }

    .legend-label {
        // font-weight: 100;
        margin: @margin 0;
    }

    .legend-item {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: @small-margin;
        min-height: 20px;

        &:last-child {
            margin-bottom: 0px;
        }

        &.polygon {
            .item-style {
                height: 32px;
            }
        }

        .item-style {
            .legendItemPosition();
            justify-content: center;

            img {
                width: 100%;
                height: auto;
            }
        }

        .item-label {
            min-height: 20px;
            display: flex;
            align-items: center;
        }

        // .fa {
        //     color: @grey;
        //     margin-left: 10px;
        // }
    }
}