.content__side.legend {
    display: flex;
    flex-direction: column;
}


.legend__group {
    background-color: @bgLightColor;
    padding: @margin;
    border-top: 1px dotted @borderLightColor;

    &.legend--params .actions {
        margin-top: @margin;
    }
}



.legend-group.named {
    width: 100%;
    margin-bottom: @margin;

    .legend-group-title {
        font-weight: 600;
        margin: @margin auto @small-margin auto;
    }

    .legend-group-items {
        border-left: 1px solid @borderLightColor;
        padding-left: @margin;
        margin-left: @margin;
    }
}

.wms-legend-wrapper {
    width: 100%;
    margin-top: @small-margin;
    padding: @margin 0;
    border-top: 0.5px solid @borderLightColor;
    border-bottom: 0.5px solid @borderLightColor;
    overflow-x: auto;
    overflow-y: hidden;

    .wms-legend-switch {
        .interactive;
        // font-weight: 100;
        display: flex;

        &::before {
            .fa();
            .legendItemPosition;
            justify-content: center;
        }

        &.opened::before {
            content: @fa-var-chevron-down;
        }

        &.closed::before {
            content: @fa-var-chevron-right;
        }
    }

    .wms-legend-item {
        margin-left: @legend-itemW + @margin;
        margin-top: @small-margin;
    }
}