.plot-legend-item {

    // .plot-legend-item {
    //     margin-bottom: 0px;
    //     padding-left: @margin *0.5;

    //     &:after {
    //         content: '';
    //     }
    // }

    .legend-item__title {
        @itemH : 2em;

        display: flex;
        align-items: center;
        margin: 0px;
        padding-right: @margin;
        padding-left: @margin *0.5;
        border-right: @margin solid @bgLightColor;
        cursor: default;

        &:after {
            content: "";
            padding: initial;
            margin-left: auto;
            margin-right: -@margin*2;
            width: 0px;
            height: 0px;
            border-style: solid;
            border-width: calc(~'@{itemH}*0.5 + @{margin}*0.3') 0 calc(~'@{itemH}*0.5 + @{margin}*0.3') @margin;
            border-color: transparent transparent transparent @bgLightColor;
        }
    }

    &:hover .legend-item__title,
    &.active .legend-item__title {
        background-color: @bgActiveColor;

        &:after {
            border-color: transparent transparent transparent @bgActiveColor;
        }
    }


}



.plot-legend-item {

    .legend-item__title {
        width: 100%;

        .item-style {
            margin-right: @margin;
            justify-content: center;

            &--element {
                width: 10px;
                height: 10px;
                border-radius: 100%;
            }
        }

        .item-label {
            align-items: center;
            margin-left: @margin*0.5;
            font-weight: @fwSemiBold;

        }
    }

    .legend-item__stat {
        font-size: 0.8rem;
        line-height: 125%;
        margin-top: @margin*0.5;
        margin-left: 2rem;


        .stat__item {
            display: flex;
        }

        .stat__label {
            color: @inactiveColor;

            &:after {
                content: ":";
                margin: 0 0.3em;
            }
        }
    }

    .legend-item__norms {
        font-size: 0.8rem;
        display: flex;
        align-items: center;
        margin-top: (@margin / 3);
        padding-left: 2rem;

        .item-style {
            width: calc(~'@{margin} + 10px');
        }

        .item-style--element {
            width: 1.5em;
            border-bottom-width: 1px;
            border-bottom-style: dashed;
        }

        .norm {
            &__item {
                display: flex;
                align-items: center;
                width: 100%;

                >div {
                    margin-right: 1ch;
                }

                .norm-checkbox__wrapper {
                    display: flex;
                    margin-left: auto;
                    margin-right: 0px;

                    .label {
                        margin-right: 0.5ch;
                    }
                }
            }

            &__label {
                color: @inactiveColor;
            }
        }
    }
}

.plot-legend-item.unquantified {
    margin-top: @margin*0.5;
    // padding-left: @margin*0.5 ;

    &:hover .legend-item__title {
        background-color: initial;

        &:after {
            background-color: transparent;
            border-color: transparent;
        }
    }

    .item-style--element {
        border: 2px solid @borderLightColor;
    }
}

.plot-legend-item--no-data {
    color: @inactiveColor;

    // &:hover,
    // &.highlighted {
    //     background-color: @bodyBgColor;

    //     .item-label {
    //         color: @inactiveColor;
    //     }
    // }

    .item-style--element {
        background-color: @inactiveColor;
    }
}