circle {
    transition: all 0.3s;
}

circle:hover {
    cursor: pointer;
    r: 4;
}

/* circle.point-selected {
    fill: white;
} */

/* circle.point-unselected {
    fill: #cccccc;
}

line.line-unselected {
    fill: #cccccc;
} */

g.axis-unselected line {
    stroke: #cccccc;
}
g.axis-unselected text {
    fill: #cccccc;
}

g.timeserie-points-shaded circle {
    fill: #cccccc;
    stroke: #cccccc;
}
g.timeserie-linechart-shaded line {
    stroke: #cccccc;
}
g.timeserie-linechart-shaded text {
    fill: #cccccc;
}
