.stations__list {
    // background-color: @bgLightColor;
    // padding: @margin;

}

.station-item {

    .legend-item__title {
        @itemH : 2em;

        display: flex;
        margin: 0px;
        padding-right: @margin;
        padding-left: @margin*0.5;
        border-right: @margin solid @bgLightColor;
        cursor: default;

        &:after {
            content: "";
            margin-left: auto;
            margin-right: -@margin*2;
            width: 0px;
            height: 0px;
            border-style: solid;
            border-width: calc(~'@{itemH}*0.5 + @{margin}*0.3') 0 calc(~'@{itemH}*0.5 + @{margin}*0.3') @margin;
            border-color: transparent transparent transparent @bgLightColor;
        }
    }

    &:hover .legend-item__title,
    &.active .legend-item__title {
        background-color: @bgActiveColor;

        &:after {
            border-color: transparent transparent transparent @bgActiveColor;
        }
    }

    .legend-item__title {
        display: flex;
        align-items: center;

        .actions {
            flex-shrink: 0;
            margin-right: @margin*0.5;
        }

        .item-style {
            margin-right: @margin*0.5;

            .item-style--element {
                width: 6pt;
                height: 6pt;
                border-radius: 6pt;
            }

        }

        .item-label {
            font-weight: @fwBold;
        }
    }

    .map-info__items {
        padding-left: calc(~"32px - @{margin} /2") !important;
    }

    // padding: 0 (@margin / 2);
    // margin-bottom: (@margin / 2);

    // &:last-child {
    //     margin: 0;
    // }
    // .name:before {
    //     .far();
    //     content: @fa-var-square;
    //     width: 25px;
    //     text-align: left;
    // }

    // .name:hover:before {
    //     content: @fa-var-check-square;
    // }

    // &.selected .name:before {
    //     .fas();
    //     content: @fa-var-check;
    // }
    // button {
    //     padding: (@margin / 4) 0;
    //     width: 100%;
    // }

    // .name {
    //     width: 100%;
    //     display: flex;
    //     align-items: center;

    //     >div {
    //         margin-left: auto;
    //         // margin-right: @margin;
    //     }
    // }

    // details summary {
    //     margin-bottom: 0px;
    // }
}

.station-info-item {
    font-size: 0.8rem;
    margin-bottom: (@margin / 3);

    &__label {
        color: @greyDark;
        margin-right: 0.5ch;
        display: block;
    }
}