.main.table {
    .norm-checkbox__wrapper {
        display: none !important;
    }
}

.infinite-table {
    height: 100%;

    .table-main {
        min-height: 30vh;
    }

    H3 {
        margin: 0px;
    }

    .title-switch {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

// .table-item-list {
//     // display: flex;
//     // flex-direction: column;
//     border-top: 1px dotted @borderLightColor
// }

// .table-parameter-item {
//     position: relative;
//     margin-bottom: (@margin / 2);
//     font-size: 0.8rem;
//     display: flex;
//     cursor: default;
//     display: flex;
//     flex-direction: column;

//     &:hover {
//         color: @activeColor;
//     }

//     .name {
//         display: flex;
//         align-items: center;

//         &::before {
//             .far();
//             content: @fa-var-square;
//             width: 35px;
//             display: flex;
//             align-items: center;
//             justify-content: center;
//         }

//         &:hover:before {
//             content: @fa-var-check-square;
//         }
// // .item-quick-action {
// //     margin-left: auto;
// // }
//     }

//     &.selected {
//         border-bottom: 0px;
//         cursor: initial;

//         .name {
//             cursor: initial;
//             font-weight: @fwExtraBold;

//             &:before {
//                 display: none;
//             }
//         }
//     }

//     &:after {
//         margin-left: auto;
//     }
// }