{% load static %}<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ app_name }}</title>
    <link rel="stylesheet" type="text/css" href="{% static style_url %}">
    <script src="{% static bundle_url %}"> </script>
    <script>
    (function () { 
        var __SDI__ = { 
            {% if user_id %} user: "{{ user_id }}", {% else %} user: null, {% endif %} 
            args: "{{ path }}".split('/'), 
            api : "{{ api }}", 
            csrf : "{{ csrf_token }}", 
            root : "{{ root }}", 
            apps: {{ apps|safe }}, 
            urls: {{ urls|safe }}, 
            {% if admin_query %} admin_query: {{ admin_query.id }}, {% else %} admin_query: null, {% endif %}
        }; 
        

    document.onreadystatechange = function startApplication() {
        if ('interactive' === document.readyState) {
            bundle.main(__SDI__)
        }
    };

    })();
    </script>
</head>

<body>
</body>

</html>