.map-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

// General style

body:fullscreen,
body:fullscreen::backdrop {
    background-color: #fff;
}

h2.subtitle {
    color: @inactiveColor;
}

button.disabled.error {
    border-color: @yellow;
}

.icon {
    .fa();
    flex-shrink: 0;
    margin-right: 1ch;
    display: inline;
}

.tag__list {
    margin-top: @margin;
    .tag {
        padding: 0 @margin * 0.5;
    }
}

.main {

    .index,
    .preview,
    .form,
    .groups {
        display: flex;

        .sidebar {
            flex: 2;
            margin-right: (@margin / 2);
            display: flex;
            flex-direction: column;
            padding-top: @margin;
            border-top: @borderLight;
            overflow-y: auto;
            font-size: 1rem;

            .sidebar__header {
                padding-bottom: @margin;
                display: flex;
                align-items: center;
                // justify-content: space-between;

                h2 {
                    margin: 0px;
                    padding: 0px;
                    margin-left: @margin;
                    font-weight: 400;
                }
            }

            .form__actions {
                button {
                    margin-left: @margin;
                }
            }

            .infos__header {
                // display: flex;
                // justify-content: space-between;
                border-bottom: @borderLight;
                padding-bottom: (@margin / 2);

                .form-actions {
                    display: flex;
                    // flex-direction: column;
                    align-items: center;
                    margin-top: @margin;

                    .btn {
                        margin-right: @margin;
                    }
                }

                .capakey,
                .sitex-id {
                    font-size: 0.8rem;
                }

                .sitex-id {
                    margin-top: (@margin / 2);
                }
            }
        }

        .map-wrapper,
        .main-content {
            flex: 3;
            margin-left: (@margin / 2);

            &.empty {
                background-color: @bgLightColor;
                padding: @margin;
            }
        }
    }
}

.main .map-wrapper {
    .map-tools {
        .absolute(initial, 0, 0, initial);
        z-index: 2;
        margin: (@margin / 2);
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .btn {
            margin-top: @margin*0.5;

        }

        .measure-value {
            height: 2rem;
            min-width: 5rem;
            padding: 0 0.5em;
            background-color: @bodyBgColor;
            border: @borderLight;
            color: @activeColor;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: @fwSemiBold;
        }
    }

    .btn--north {
        .absolute(initial, 0, 4em, initial);
        z-index: 2;
        margin-right: @margin;

        .icon {
            height: 2em;
            width: 2em;
            font-size: 2em;
            background: white;
            padding: 0.5em;
            border-radius: 2.5em;
            border: 2px solid #f7f7f7;
            display: block;
            line-height: 0.9em;
            margin-right: 0;

            &:hover {
                box-shadow: inset 0 0 0 2px #d53e2a;
            }
        }
    }

    fieldset.switch__fieldset {
        .absolute(0, 0, initial, initial);
        z-index: 2;
        margin: (@margin / 2);
    }

    .switcher {
        @switcherSize: 3rem;
        .absolute(initial, initial, -1px, -1px);
        z-index: 2;
        margin-right: @margin;
        width: @switcherSize + 1;
        height: @switcherSize + 1;
        border: @borderLight;
        border-bottom: 0px;
        border-left: 0px;
        background-color: @bodyBgColor;
        border-top-right-radius: @switcherSize - 1;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        .switch-background-bn {
            background: url(~'../imgs/background-switch-bn.jpg');
        }

        .switch-background-ortho {
            background: url(~'../imgs/background-switch-ortho.jpg');
        }

        .switch-background-bn,
        .switch-background-ortho {
            width: 100%;
            height: 100%;
            cursor: default;
            background-size: cover;
            border-top-right-radius: @switcherSize - 1;
            border: 7px solid white;
            border-bottom: 0px;
            border-left: 0px;
        }
    }
}

h1 {
    padding-bottom: @margin;
    font-size: 2rem;
}

h2 {
    padding-bottom: @margin;
}

.input__zone {
    .radio__fieldset {
        height: 85%;

        .radio__body {
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
    }

    .radio__fieldset .radio__item {
        flex-shrink: 0;
        font-size: 1.5rem;

        .radio__control {
            box-sizing: content-box;

            .radio__control-inner {
                border: 0.2em solid white;
                // box-sizing: ;
            }
        }
    }
}

// minimap

.minimap__wrapper {
    width: 100%;
    height: 30vh;
    margin-bottom: @margin;
}

.credits,
.credits a {
    margin-left: auto;
    color: #777777 !important;
}