.main.groups {

    .sidebar {
        overflow: hidden;
    }

    .actions {
        overflow: auto;
        background-color: @bgLightColor;
        padding: @margin;
        margin-bottom: @margin;


        h2 {
            margin-top: @margin;
        }

        .create-group {
            button {
                margin-top: @margin;
                margin-left: auto;
                display: flex;
            }
        }
    }

    .building-item {
        display: flex;
        align-items: flex-start;
        padding: @margin;
        margin-bottom: @margin;
        cursor: default;
        font-weight: @fwSemiBold;


        &.selected,
        &:hover {
            background-color: @bodyBgColor;

        }

        button {
            margin-left: @margin;
        }
    }
}