.main.index {
    .sidebar {
        H1 {
            font-size: 3rem;
        }

        >div {
            margin-bottom: @margin;
        }
    }
}

.main.index {
    .sync__wrapper .sync-item {
        font-size: 2rem;
    }

    .summary {
        margin-top: @margin*2  !important;
        // margin-bottom: @margin*2 !important;
        margin-bottom: 0px !important;
        border-bottom: @borderLight;

        &--empty {
            border-bottom: initial;
            font-size: 2rem;
        }
    }

    .group-manager {
        margin-left: auto;
        margin-right: @margin;
    }
}

.main.index .sidebar .sync__wrapper {
    background-color: @bgLightColor;
    padding: @margin;
    position: relative;

    // .network-status {
    //     .absolute(@margin, @margin, initial, initial);
    //     font-size: 1.25rem;
    //     font-weight: @fwSemiBold;
    //     display: flex;
    //     margin-bottom: @margin;

    //     &:before {
    //         .fa();
    //         margin-right: (@margin / 2);
    //     }

    //     &.status-good {
    //         color: @green;

    //         &::before {
    //             content: @fa-var-check;
    //         }
    //     }
    //     &.status-medium {
    //         color: @blue;

    //         &::before {
    //             content: @fa-var-check;
    //         }
    //     }
    //     &.status-bad {
    //         color: orange;

    //         &::before {
    //             content: @fa-var-check;
    //         }
    //     }
    //     &.status-critical {
    //         color: @red;

    //         &::before {
    //             content: @fa-var-times;
    //         }
    //     }
    // }

    // &.online .network-status {
    //     color: @blue;

    //     &::before {
    //         content: @fa-var-check;
    //     }
    // }

    // &.offline .network-status {
    //     color: @activeColor;

    //     &::before {
    //         content: @fa-var-times;
    //     }
    // }

    .sync__content {
        display: flex;
        flex-direction: column;

        button {
            margin-top: @margin;
            margin-left: auto;
        }
    }
}

// .main.index,.main.groups
.sidebar .legend__wrapper {
    margin-top: auto;
    margin-bottom: 0;

    .legend-item {
        display: flex;
        align-items: center;
        margin-bottom: (@margin / 2);

        &:last-child {
            margin-bottom: 0;
        }

        .item-style {
            width: 48px;
            height: 24px;
            background-color: rgba(173, 101, 12, 0.8);
            margin-right: @margin;

            &.urbis {
                background-color: rgba(50, 50, 250, 0.1);
                border: 1px solid rgba(50, 50, 50, 1);
            }

            &.synced {
                background: repeating-linear-gradient(-45deg,
                        @blue,
                        @blue 1.5px,
                        #fff 1.5px,
                        #fff 5px);
            }

            &.not-yet-synced-d {
                background: repeating-linear-gradient(-45deg,
                        #d53e2a,
                        #d53e2a 1.5px,
                        #fff 1.5px,
                        #fff 5px);
            }

            &.not-yet-synced-o {
                background: repeating-linear-gradient(-45deg,
                        #fdc300,
                        #fdc300 1.5px,
                        #fff 1.5px,
                        #fff 5px);
            }

            &.not-yet-synced-v {
                background: repeating-linear-gradient(-45deg,
                        #457437,
                        #457437 1.5px,
                        #fff 1.5px,
                        #fff 5px);
            }

            // Groups 
            &.selected-feature {
                background-color: #0067d565;
                border: 1px solid #38853b;
            }

            &.selected-group {
                background-color: #468bc765;
                border: 1px solid rgba(50, 50, 50, 1);
            }

            &.some {
                background-color: #b31c0565;
                border: 1px solid rgba(50, 50, 50, 1);

            }
        }
    }
}