// PARCELS OCCUPENCIES


.occups.parcel {
    .input__wrapper--occupation .level-content .level-infos .occup-input-row label {
        float: none;
        width: 100%;

        span {
            width: 50%
        }


    }

    label.description {
        flex-direction: column-reverse;

        >* {
            width: 100%;
            margin-right: 0px !important;
        }

        textarea {
            width: 100%
        }
    }
}

// PARCELS INPUT DETAILS

.input--boolean.fenced {
    font-size: 1.5rem;
}