@media print {

    .btn,
    .header-toolbar,
    // .map-wrapper,
    .status-bar,
    .map-wrapper .map-tools,
    .map-wrapper .switch__fieldset,
    .map-wrapper .geocoder-wrapper,
        {
        display: none !important;
    }

    * {
        overflow: initial !important;
        position: relative !important;

    }

    .main .index,
    .main .preview,
    .main .form {
        display: block;
    }

    .sidebar {
        margin: 0px !important;
    }

    .map-wrapper {
        margin: 1cm 0px !important;
        padding: 0px !important;
        page-break-inside: avoid;
    }

    .footer {
        height: fit-content;
    }
}