// HEADER  should be generalized in CS-IBGE

@media screen and (max-width: 900px) {
    .root.brugeotool .header {
        a {
            width: 100%;
        }
    }
}





// FOOTER : should be generalized in CS_IBGE
@media screen and (max-width: 900px) {
    .root.brugeotool .footer {
        height: auto !important;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: @margin * 0.5;
        padding: initial;

        >span {
            display: block;
            margin-bottom: 0.5em;

            &.footer-infos {
                order: 2;
            }

            &.content--footer {
                order: 1;
            }

            &.csac-credits {
                order: 3;
                margin-left: initial;
            }
        }
    }
}




// Geocoder : should be generalized

@media @sdi-small and (orientation: portrait) {
    .brugeotool .geocoder-wrapper {
        top: @margin-mob;
        left: @margin-mob;
        right: @margin-mob;
        flex-direction: column;
        align-items: flex-start;
        z-index: 999;

        .select {
            // width: 100%;

            select {
                border-top-right-radius: 1em;
                border-bottom-left-radius: 0px;
                border-right: 2px solid @activeColor;
                border-bottom: 0px;
                padding-right: @margin*0.5;
                // width: 100%;
            }
        }

        .search-wrapper {
            width: 100%;
        }

        .search {
            width: initial;

            // Override default tooltip style  
            [data-tooltip-position='right']::after {
                top: 100%;
                margin-left: (@tooltip-font-size / 3 * 4);
                margin-top: (@tooltip-font-size / 3 * 2);
                transform: translateX(calc(~"-100% - 2em")) translateY(0%);
            }
        }

        .search-results {
            position: relative;
            top: 0;
            width: calc(~"100% - 2em");
            overflow-x: hidden;
            border-top: 0px;
            max-height: 300px;
            z-index: 2;

        }
    }
}



@media @sdi-small and (orientation: portrait) {
    .home-wrapper {
        flex-direction: column-reverse;
    }

}

@media @sdi-small and (orientation: portrait) {
    .main {
        padding: 0;

        >div .sidebar {
            width: 100%;
            padding: initial;
            margin: 0;

            // .sidebar__subtitle {
            //     display: none !important;
            // }
        }

        .content,
        .content.middle,
        .content.top,
        .content.bottom {
            display: block;
            height: 100vh;
        }

        .content-top,
        .content-bottom {
            padding: initial !important;
        }

        .content.bottom-hidden {
            height: 66vh;
        }

        .content-top {
            height: 66vh;

            .tools-left {
                top: initial;
                bottom: calc(~'1rem + @{margin-mob} * 2');
                bottom: @margin-mob * 2;
                left: @margin-mob;

                .btn-list.mode-btn {
                    order: -1;
                }

                // Override default tooltip style  
                [data-tooltip-position='bottom-right']::after {
                    top: initial;
                    margin-top: initial;
                    margin-left: -15px;
                    transform: translateX(0%) translateY(-100%);
                }
            }



            .tools-right {
                display: none;
                // top: calc(~'2rem + @{margin-mob} * 2');
                // right: @margin-mob;
            }

            .geo-btn--move-up {
                display: none;
            }

            .map-wrapper {
                height: 100%;
            }
        }
    }
}

// GEO-OUTPUT

@media @sdi-small and (orientation: portrait) {
    .geo-output.vertical {
        flex-direction: column;

        .sidebar--top {
            padding-bottom: @margin * 2;

            .geo-btn--both-system {
                margin-right: @margin;
                margin-top: @margin;
                margin-bottom: @margin;
            }
        }

        .mini-map--infos {
            margin-bottom: @margin-mob;
        }

        .mini-map--info-item--adress {
            font-size: 1.5rem;
            font-weight: @fwSemiBold;
            margin-top: (@margin / 2);
            margin-bottom: @margin;
        }

        .map-wrapper {
            height: 60vw;
        }

        .content-header {
            flex-direction: column;

            .content-header--item {
                font-size: 1rem;
                min-height: initial;
                margin: 0px;
                background-color: @bgLightColor;

                &.selected {
                    color: @activeColor;
                    background-color: @bodyBgColor;
                }
            }

            .content-header--label-wrapper {
                * {
                    display: inline;
                }

                br {
                    content: ' ';
                }

                br:after {
                    content: ' ';
                }
            }

            >button {
                &:not(:first-child) {
                    margin-left: initial;
                }
            }
        }

        .sidebar--bottom {
            margin-top: @margin;

            .geo-btn {
                margin-bottom: @margin-mob;
            }

            .disclaimer,
            .credits {
                padding: @margin-mob;
                background-color: @bgLightColor;
            }

            .disclaimer {
                margin-top: @margin;
            }

            .credits {
                margin-bottom: @margin;
            }
        }
    }
}


// genenral style for paginator
@media @sdi-small and (orientation: portrait) {

    .paginator-text,
    .main.finance {
        h2 {
            margin-top: 1em;
            margin-bottom: 2em;
            padding-right: @margin;
        }
    }
}


// Panel "GENERAL"
@media @sdi-small and (orientation: portrait) {

    @carrotWidth : 150px;

    .main.general {
        .content {
            height: fit-content;
        }

        .content .content--body-inner {
            height: 600px;

            .carrot {
                margin-right: @margin;
                margin-top: auto;
            }

            .carrot img {
                width: @carrotWidth;
            }

            .paginator-text {
                padding-right: 0;
                overflow-y: initial;
                display: flex;
                flex-direction: column;

                H2 {
                    margin-left: -@carrotWidth;
                }

                .md {
                    height: 100%;
                    overflow-y: auto;
                }
            }
        }
    }
}

// Panel "LICENCE"
@media @sdi-small and (orientation: portrait) {

    .main.license {
        .content {
            height: initial;
        }

        .paginator-text {
            padding: 0px @small-margin;
        }
    }
}


// Panel "FINANCE"
@media @sdi-small and (orientation: portrait) {

    .main.finance {
        .content {
            height: initial;
        }

        .content--body-inner {
            width: calc(~"100vw - (@{small-margin} * 2)");
            flex-direction: column;

            * {
                min-width: initial !important;
            }

            .table--financial {
                width: 100%;
                overflow: auto;

                >div {
                    width: 130ch
                }
            }

            .text--finance {
                padding-right: @margin;
            }

            .table-remark {
                padding-right: @small-margin;
            }
        }
    }
}

// Panel "GEOLOGY" and "TECHNICAL"
@media @sdi-small and (orientation: portrait) {

    .main.geology,
    .main.technical {
        .content .content--body-inner {
            height: initial;
        }

        .guide {
            padding-right: @margin;
        }

        table {
            tbody td {
                min-width: 200px;

                &.depth {
                    min-width: 100px;
                }
            }
        }
    }
}


// Panel "GEOLOGY" and "TECHNICAL"
@media @sdi-small and (orientation: portrait) {

    .css-print {
        .page {
            display: none;
        }
    }
}

// HOME : general
@media @sdi-small and (orientation: portrait) {

    .root.brugeotool .header {
        border-bottom: 0px;
        padding-bottom: 5px;

    }

    .measure-box {
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 999;

        button:first-child {
            margin-right: @margin*0.5;
            margin-bottom: @margin*0.5;
        }
    }
}

// HOME : 3D & slice

@media @sdi-small and (orientation: portrait) {

    .main.home {

        h1 {
            display: none !important;
        }

        .content.middle {
            display: block;
            height: fit-content;

            .content-top {
                flex: 3
            }

            .content-bottom {
                // height: 120vw;
                height: 600px;
                background-color: @bodyBgColor;
                overflow: auto;

                .geo-btn--open-fullscreen {
                    display: none;
                }

                .map-wrapper {
                    height: initial;

                    .widget__wrapper {
                        position: absolute;
                        flex-direction: column;
                        align-items: end;
                        right: 0;
                    }

                    &.geo-slice {
                        width: 1200px;

                        .slice-settings__buttons {
                            right: initial;
                            left: 0;
                        }
                    }

                    &.geo-tile {
                        .widget__wrapper {
                            display: flex;
                            flex-direction: row-reverse;
                            align-items: center;
                            left: 0;
                            flex-wrap: wrap-reverse;

                            .alpha__widget {
                                margin-top: @margin;
                                margin-left: @margin * 4;
                            }
                        }
                    }
                }
            }
        }

        .sidebar .content.middle {
            display: flex;
            flex-direction: column-reverse;
            height: fit-content;

            .content-top,
            .content-bottom {
                height: fit-content
            }
        }
    }
}