// @currentAudience : #b6eafa;
@currentAudience : #dbf3fa;

// @otherAudience : #EBF0E9;
@otherAudience : @bgLightColor;
// @otherAudience : #fff;


.current-audience {
    background: @currentAudience;
    // outline: @margin*0.3 solid @currentAudience;

    .widget__header,
    .widget__meta {
        background: inherit;
    }

    .unit__wrapper--multi .unit--read:not(:last-child) {
        border-bottom: @borderLight;
    }
}


// change audience
.current-audience,
.editable-audience,
.not-editable-audience {
    position: relative;

    .icon {
        .fa();
    }

    .on-display,
    .bot-on-display {
        display: none;

        button {
            margin: @margin*0.5;
            padding: @margin*0.5;
            height: fit-content;
        }

        .warning {
            margin: @margin*0.5;
            padding: @margin*0.5;
            font-weight: bold;
        }
    }

    &:hover {

        // background-color: initial;
        // outline: initial;

        .on-display,
        .bot-on-display {
            .absolute(0, 0, 0, 0);
            display: block;
            z-index: 2;
        }

        .warning {
            background-color: @warningColor;
            padding: @margin*0.5;
        }
    }

    &.in-transaction:hover .widget__meta {
        position: initial;
    }

    .no-edit-label {
        padding: @margin*0.5;
        margin: @margin*0.5;
        background-color: @bgLightColor;
        cursor: default;
    }
}

.current-audience:hover {
    .on-display {
        background: linear-gradient(180deg, @currentAudience 2rem, transparent);
        // background-color: @hoverDeleteAudience;
    }
}

.editable-audience {

    background-color: @otherAudience;

    .widget__header,
    .widget__meta {
        background: inherit;
    }

    &:hover {
        .bot-on-display {
            background: linear-gradient(180deg, @otherAudience 2rem, transparent);
            // background-color: @hoverAddAudience;
        }
    }

}

.not-editable-audience {
    color: @disabledColor;

    &:hover {

        .bot-on-display {
            color: @textColor;
            background-color: @bgLightColor;
        }
    }
}




// widget header
.audience-display {
    align-items: center;
    border-top: 1px dotted @borderLightColor;
    padding: @margin*0.5;
    padding-right: 0px;

    .widget__wrapper {
        display: flex;
        align-items: center;
    }

    .widget-title {
        font-size: 1.2rem;
        font-weight: @fwSemiBold;
        margin-right: @margin*0.5;
    }

    .icon {
        margin-right: @margin;
        cursor: default;
    }

    .helptext {
        margin: @margin*0.5 0;
    }

    .radio__body {
        display: flex;
        align-items: center;

        .radio__item {
            margin-right: @margin;
            margin-bottom: 0px;
            padding: @margin*0.5;
            padding-left: 0;
        }


    }

    &.active {
        .radio__item {

            &.selected {
                background-color: @currentAudience;
            }

            // &.unselected {
            //     background-color: @otherAudience;
            // }
        }

        .other-audience--tool {
            padding: @margin*0.3;
            background-color: @otherAudience;
            margin-left: auto;
        }

    }

    .actions {
        width: 100%;
        display: flex;
        align-items: center;
        margin-left: auto;

        button {
            margin-left: @margin;
            margin-right: 0px;
        }
    }
}

.project.writer {
    .audience-display {
        // background-color: @greyLight;
        border-top: 0px;
    }
}