// should be factorized (see clients/view/style/less/widgets/wrapper-map.less)
.project-app {
    .map-wrapper {
        position: relative;
        height: 100%;
        border: 0px;

        .control-box {
            border: 0px;
        }

        .tool.geocoder {
            .absolute(auto, auto, -1px, 0);
            background-color: @bodyBgColor;
            font-size: 0.8rem;

            input {
                border: 0px;
                padding: 0px !important;
                padding-top: 2px !important;
                margin: 0px !important;
                width: initial !important;
                font-size: inherit;
            }

            .adress-result {
                display: flex;

                span {
                    display: flex;
                    align-items: center;
                    cursor: default;
                    height: 20px;
                    padding-right: @margin;
                }

                span:before {
                    .far();
                    margin: 0 @small-margin;
                    font-size: 1em;
                    content: @fa-var-circle;
                }

                &:hover {
                    span:before {
                        content: @fa-var-dot-circle;
                    }
                }
            }
        }

        .map-marker {
            .fa-pulse();
            width: auto;
            height: auto;

            &:before {
                .far();
                color: @activeColor;
                content: @fa-var-circle;
            }
        }
    }
}
