.notif__wrapper {
    H3 {
        margin-bottom: @margin *0.5;
    }

    .fa.disabled {
        color: @disabledColor;
    }

    .icon {
        margin-right: 1ch;
        width: 1ch;
    }

    .helptext {
        summary {
            width: fit-content;

            .label {
                margin-left: @margin;
            }
        }

    }

    .notif {
        font-size: 1rem;
        padding: @margin * 0.5 0;
        border-top: @borderLight;

        &:last-child {
            border-bottom: @borderLight;
        }

        .icon {
            font-size: 0.8rem;
        }

        details {
            &[open] {
                .notif-project--label {
                    color: @activeColor;
                }
            }


            .notif__details {
                background-color: @bgLightColor;
                width: fit-content;
                padding: @margin;
                margin-left: 5em;

                .notification--project {
                    margin-bottom: 0.3em;
                }

                .date {
                    font-size: 0.7rem;
                    margin-right: @margin;
                }
            }

            summary {
                margin-bottom: 0px;

                &:after {
                    display: none;
                }

                .notif-project--legend {
                    width: 5em;

                    .icon {
                        margin-right: @margin*0.5;
                    }
                }

                .notif-project--label {
                    display: flex;
                    align-items: center;
                    font-weight: @fwSemiBold;
                    margin-left: @margin;
                    margin-right: auto;

                    &:hover {
                        color: @activeColor;
                    }

                    .icon {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 1.2rem;
                        height: 1.2rem;
                        border: 2px solid @greyLight;
                        border-radius: 1.2rem;
                        font-size: 0.6rem !important;
                        margin-right: (@margin/2);
                    }
                }
            }
        }
    }

}