.field {
    &__key {
        .textBig();
        margin-right: 0.5ch;
    }
}

.unit {
    .field {
        display: flex;
        flex-direction: column;
        margin-bottom: (@margin / 2);

        &__key {
            // display: none;
            .textSmall(@inactiveColor);
        }
    }
}

.multi-item {
    display: flex;
    align-items: center;

    .multi-item__action {
        font-size: initial;
        font-weight: initial;
        margin-right: 0.5ch;
    }

    &--removed {
        .unit {
            color: @inactiveColor;
            text-decoration: line-through;
        }
    }
}

.unit__wrapper--multi {
    .unit--read:not(:last-child) {
        border-bottom: 1px solid @disabledColor;
        padding-bottom: 7.5px;
    }

    .unit--read:not(:first-child) {
        padding-top: 7.5px;
    }
}

.unit--read.unit {
    margin-bottom: @margin;

    &--empty {
        // color: @inactiveColor;
        color: @disabledColor;
        border-top-color: @disabledColor;
        margin-bottom: 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        overflow: hidden;

        .btn {
            color: @disabledColor;
            background-color: transparent;
            height: auto;
            border: 0px;
            &:hover {
                color: @activeColorHover;
            }

            .icon {
                overflow: hidden;
            }
        }
    }

    &--name {
        .textExtraLarge();
    }

    &--description {
        line-height: 115%;
    }

    &--nova {
        flex-wrap: wrap;

        .field__value.field--read {
            font-weight: @fwSemiBold;
        }

        .field--nova {
            width: 100%;
            flex: 1;
            flex-direction: column;
            margin-top: @margin;

            .kv {
                margin-top: @margin;

                &:first-child {
                    margin: 0px;
                }

                .k {
                    color: @inactiveColor;
                }
            }
        }
    }
    &--address_struct {
        .field--postal_code,
        .field--street_name {
            float: left;
            margin-right: 1ch;
        }
        p {
            margin: 0px !important;
        }
    }
}

.field--read img {
    max-width: 100%;
    max-height: 50vh;
    width: auto;
}
