.field--geom.field--write {

    .btn-add {
        margin-bottom: @margin;
        margin-left: 0;
    }


}

.field__value.field--write {
    .input-label {
        .textBig();
        color: @activeColor;
        font-weight: @fwSemiBold;
        margin-bottom: @margin/2;
    }

    input,
    textarea {
        margin-bottom: @margin;
        width: 100%;
        box-sizing: border-box;
    }
}

.editor__widget--address_struct {

    textarea {
        height: 3em;
    }
}


// GEOM MODAL 

.map-wrapper-modal-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;

    .select__wrapper {
        width: 100%;
    }

    .map-wrapper {
        position: relative;
        border: @borderLight;
        height: 100%;
        width: 100%;

        .control-box {
            border: @borderLight;
            border-right-color: @bodyBgColor;
            border-bottom-color: @bodyBgColor;
            bottom: -1px;
            right: -1px;
        }
    }

    .btn {
        margin-right: 0;
    }
}




.field--write__post-team__helptext {
    margin-top: @margin;

    &.inactive {
        display: none;
    }
}

.field--write__post-team__created {
    &.inactive {
        display: none;
    }
}