// generate items
.generateItemsLenght(@n, @i:1) when (@i =< @n) {
    .switch__item.item-@{i} {
        width: (100% / @n * @i);
        z-index: (@n + 1 - @i);
    }
    .generateItemsLenght(@n, (@i + 1));
}

// override focus behavior to keep a consistent design (eg : not using white pictos)
// .adjust-item {
//     .switch__fieldset .switch__body > div:focus-within.selected, 
//     .switch__fieldset .switch__body > div:hover.selected {
//     // color: #ffffff;
//     background-color: @yellow !important;
//     color: @textColor !important;
//     box-shadow: 0px 0px 0px 2px @activeColor inset, 0px 0px 0px 4px @white inset !important ;
// }
// }

// ADJUST AREA

.area {
    .area-select {
        position: relative;
        height: @roundedW;
        // height: calc(~'@{roundedW} + 2px');
        // background-color: @widget-background;
        background-color: @bgMediumColor;
        border-color: @bgMediumColor;

        &:after {
            content: '12kWc';
            color: #f8f8f8;
            font-weight: 600;
            position: absolute;
            right: (@margin / 2);
            height: 100%;
            display: flex;
            align-items: center;
        }

        .switch__body {
            background-color: @yellow;
            position: absolute;
            top: -1px;
            bottom: 0;
            height: @roundedW;
            border: @borderDark; // override default border
        }

        .switch__item {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            // height: @roundedW;
            height: calc(~'@{roundedW} - 2px');
            background-size: (@roundedW / 5 * 3);
            background-position: calc(~'100% - @{margin}');
            box-sizing: border-box;

            &.before-selected,
            &.unselected {
                opacity: 0;
                &:hover {
                    opacity: 1;
                }
            }
            &.unselected:hover {
                background-color: @green;
            }
            &.unselected:last-child {
                opacity: 1;
                &:hover {
                    background-color: @green;
                }
            }
        }

        .switch__item:last-child.unselected {
            background-image: url('../../../asset/svg/sun.svg');
            background-color: @yellow;
            border: 2px solid #fff !important;
        }

        .switch__item.selected {
            background-image: url('../../../asset/svg/solarpanel.svg');
            background-color: @green;
        }

        .switch__item.before-selected {
            background-color: @green;
        }

        .switch__body.length-1 {
            .generateItemsLenght(1);
            width: @roundedW;
        }
        .switch__body.length-2 {
            .generateItemsLenght(2);
            width: (100% / 12 * 2);
        }
        .switch__body.length-3 {
            .generateItemsLenght(3);
            width: (100% / 12 * 3);
        }
        .switch__body.length-4 {
            .generateItemsLenght(4);
            width: (100% / 12 * 4);
        }
        .switch__body.length-5 {
            .generateItemsLenght(5);
            width: (100% / 12 * 5);
        }
        .switch__body.length-6 {
            .generateItemsLenght(6);
            width: (100% / 12 * 6);
        }
        .switch__body.length-7 {
            .generateItemsLenght(7);
            width: (100% / 12 * 7);
        }
        .switch__body.length-8 {
            .generateItemsLenght(8);
            width: (100% / 12 * 8);
        }
        .switch__body.length-9 {
            .generateItemsLenght(9);
            width: (100% / 12 * 9);
        }
        .switch__body.length-10 {
            .generateItemsLenght(10);
            width: (100% / 12 * 10);
        }
        .switch__body.length-11 {
            .generateItemsLenght(11);
            width: (100% / 12 * 11);
        }
        .switch__body.length-12 {
            .generateItemsLenght(12);
            width: (100% / 12 * 12);
        }

        .switch__body .switch__item.item-1 {
            width: @roundedW !important;
        }
    }

    // WIDGET LEGEND

    .item-legend {
        display: flex;
        align-items: center;
        margin-bottom: (@margin / 2);

        &:before {
            content: ' ';
            width: 1.5em;
            height: 1.5em;
            border-radius: 1em;
            margin-right: 1ch;
            border: 1px solid #333;
            display: inline-block;
            flex-shrink: 0;
        }

        &.selected:before {
            background-color: @green;
        }

        &.over:before {
            background-color: @yellow;
        }

        &.unreachable:before {
            border: 0;
            background-color: @inactiveColor;
        }

        &.legend-output {
            &:before {
                display: none;
            }

            .output-value {
                margin-right: 0.7ch;
            }
        }
    }

    .install-more {
        color: @activeColor;
        font-weight: 400;

        a {
            color: @textColor;
        }
    }
}
