

// ADJUST FINANCE

.finance {
    .cost,
    .gain {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .cost {
        margin-bottom: @margin * 2;
    }

    .vat-installation {
        text-align: center;

        .wrapper-multi-checkbox {
            flex-direction: column;
            .wrapper-checkbox {
                margin-bottom: (@margin / 2);
            }
        }
    }
}


@media @medium {
    .finance {
        .cost,
        .gain {
            justify-content: flex-start;
            > div {margin-right: @margin * 2;}
        }
    }
}
