//ACTIONS

.actions {
    border-top: @borderDark;
    padding: @margin * 2 0;
    margin-top: @margin;

    a {
        text-decoration: none;

        &:hover {
            color: @textColor;
        }

        &.action-link {
            flex: 1;
            box-shadow: none;
        }
    }

    .action-secondary {
        display: flex;
        flex-direction: column;
    }

    .action {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: @margin * 2;
        cursor: default;
    }
}

.action-picto {
    position: relative;
    width: @roundedW;
    height: @roundedW;
    margin-bottom: @margin;
    color: @textColor;

    &:after {
        .absolute(0, 0, 0, 0);
        content: ' ';
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: (@roundedW / 2);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.action-contact .action-picto:after {
    background-image: url(../../asset/svg/installateur.svg);
}

.action-change .action-picto:after {
    background-image: url(../../asset/svg/info-nrj2.svg);
}

.action-info .action-picto:after {
    background-image: url(../../asset/svg/info-methodo.svg);
}

.action-print .action-picto:after {
    background-image: url(../../asset/svg/pdf.svg);
}

.action-contact:hover .action-picto:after {
    background-image: url(../../asset/svg/installateurG.svg);
}

.action-change:hover .action-picto:after {
    background-image: url(../../asset/svg/info-nrj2G.svg);
}

.action-info:hover .action-picto:after {
    background-image: url(../../asset/svg/info-methodoG.svg);
}

.action-print:hover .action-picto:after {
    background-image: url(../../asset/svg/pdfG.svg);
}



@media @medium {

    .actions .action-secondary,
    .actions .action-primary {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        >* {
            flex: 1;
        }
    }
}


@media @big {
    .action-title {
        width: @illuW;
        text-align: center;
    }

    .actions {

        .action {
            width: calc(~"(@{contextW} - 2 * @{margin}) / 3 - @{margin} + 1px"); //we use an illu width based calc here
            margin: 0;
            margin-right: @margin;


            &::before {
                width: @roundedW;
                height: @roundedW;
                border-radius: @roundedW;
                font-size: (@roundedW / 2);
            }
        }
    }
}