// we start with common style, (mobile, portrait, landscape all type of screens)
// we then deploy specific style per specific case

.screen-locate-geocoder,
.screen-locate-map {
    .header .lang-switch {
        display: none;
    }
}

.lang-switch-wrapper {
    @size: 4rem;
    .absolute(-@margin * 1.75, @margin, initial, initial);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: @size;
    width: @size;
    color: #fff;
    background: @activeColor;
    border: 2px solid @activeColor;
    border-radius: @size;
    cursor: default;
    padding: 0 !important;

    &:hover {
        border: 2px solid #fff;
    }

    .lang-switch-large {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .lang-switch-lang {
        font-size: 1.5rem;
        font-weight: 700;
    }

    .lang-switch-label {
        font-size: @small-font;
    }
}

.locate-box {
    position: relative;
    font-size: @medium-font;

    .map-wrapper {
        .absolute(0, 0, 0, 0);
        height: 100%; //override SDI
        margin-bottom: 0; //override SDI
        max-height: 100vh; // weird fix for IE11
    }

    .wrapper-top {
        .absolute(0, 0, 0, 0);
        color: #fff;
        padding: @margin;
        background: rgba(0, 0, 0, 0.5);
        overflow-y: auto;

        > div {
            display: flex;
            justify-content: center;
            padding-bottom: 2 * @margin;

            &.locate-geocode {
                flex-direction: column;
                align-items: center;
                text-align: center;
            }
        }
    }
}

.locate-pitch {
    font-family: 'nunito';
    font-size: 1.55rem;
    text-align: center;
    margin-top: 10vh;
}

.locate-box .pitch-bold {
    font-weight: 700;
    color: @yellow;
}

// wrapper adress search
.locate-geocode {
    padding-bottom: 0 !important;

    .sub-pitch {
        font-family: 'nunito';
    }

    .input-wrapper {
        width: 100%;
        margin-top: (@margin / 2);

        input {
            border: 2px solid @greyExtraLight;
            border-radius: 0;
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
            height: 2em;
            box-sizing: border-box;
            outline: none;
            // font-weight: 100;
            background-color: @greyExtraLight;
            width: 100%;
            padding-left: 1ch;
            font-size: 1em;
        }

        .btn-analyse {
            width: 100%;
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
            height: 2em;
            box-sizing: border-box;
            background-color: @activeColor;
            color: #fff;
            font-size: 1em;
            padding: 0.4em;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: default;

            .sun {
                background-image: url('../../asset/svg/sunW.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                margin-right: (@margin / 2);
                width: 1.5em;
                height: 1.5em;
                display: inline-block;
            }
        }
    }

    // adress results
    .geocoder-wrapper {
        position: relative;
        // width: calc(~"100vw - @{margin-mob} * 4");
        background: #fff;
        color: @textColor;
        margin-top: @margin * 2;
        padding: @margin;
        padding-top: 5rem;
        margin-bottom: @margin;
        text-align: left;
        border-radius: 1rem;

        h1 {
            .absolute(0, 0, auto, 0);
            background: @activeColor;
            color: #fff;
            font-size: 1em;
            font-weight: 400;
            letter-spacing: 0.01em;
            padding: @margin;
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
        }
    }

    .adress-result {
        display: flex;
        align-items: center;
        cursor: default;
        font-size: @small-font;
        margin-bottom: (@margin / 2);

        &:last-child {
            margin: 0;
        }

        .select-icon {
            position: relative;
            flex-shrink: 0;
            width: 1em;
            height: 1em;
            margin-right: 1ch;
            border: @borderDark;
            border-radius: 10px;
        }

        &:hover .select-icon:before {
            .absolute(0, 0, 0, 0);
            content: ' ';
            flex-shrink: 0;
            background-color: @activeColor;
            border-radius: 10px;
            border: 3px solid #fff;
            margin: 0;
        }
    }
}

// buttons

.map-button {

    &:hover {
        background-color: @activeColor;
        border: 2px solid #fff;
        color: #fff;
    }
}

// Map acces button
.locate-goto-map {
    height: calc(~'100vh - 80px');
    padding-top: @margin * 4;

    // font-size: @medium-font;
    display: block !important;
    text-align: center;

    .sub-pitch {
        font-family: 'nunito';
    }

    .map-button {
        font-size: @medium-font;
        display: inline-block;
        margin-top: @margin;
    }
}

// Go to search button
.locate-goto-search {
    position: absolute;
    bottom: @margin;
    left: @margin;

    button {
        font-size: @medium-font;
    }
}

// Map specific style
.locate-box {
    .map-wrapper {
        .control-box {
            .zoom {
                display: flex;
                flex-direction: column;
                margin-top: 5px;
            }

            .fullscreen {
                margin-bottom: 0px !important;
            }
        }
    }
}

.main.locate-geocoder,
.main.locate-map {
    overflow-x: visible;
}

@media @medium {
    .lang-switch-wrapper {
        .absolute(-@margin * 1.75, @margin * 2, initial, initial);
    }

    .main.locate-geocoder,
    .main.locate-map {
        left: 0;
        right: 0;
        padding-right: 0;

        .wrapper-top {
            display: flex;
            flex-direction: column;
            overflow: auto;
            padding: @margin * 2;

            > div {
                flex-shrink: 0;
            }
        }
    }

    .locate-box {
        font-size: @big-font;
    }

    .locate-pitch {
        padding-right: 2 * @margin;
        font-size: @big-font;
    }

    .locate-geocode {
        .input-wrapper {
            width: 65%;
            display: flex;
            align-items: center;
            justify-content: space-around;

            input {
                width: 100%;
                margin-bottom: 0;
                border-radius: 0px ;
                border-top-left-radius: 2rem;
                border-bottom-left-radius: 2rem;
            }

            .btn-analyse {
                width: auto;
                border-radius: 0px;
                border-top-right-radius: 2rem;
                border-bottom-right-radius: 2rem;
                justify-content: flex-start;
                font-size: 1em;
                border: 2px solid transparent;

                &:hover {
                    border: 2px solid @greyExtraLight;
                }
            }
        }

        .geocoder-wrapper {
            width: auto;
            max-width: 65%;
            min-width: 15em;
            padding: @margin * 2;
            padding-top: 5rem;
            border-radius: 2rem;

            h1 {
                font-size: @big-font;
                padding: 0.5em @margin*2;
                border-top-left-radius: 2rem;
                border-top-right-radius: 2rem;
            }

            .adress-result {
                font-size: 1.1rem;

                .no-address {
                    color: @inactiveColor;
                }
            }
        }
    }

    .locate-goto-map {
        height: calc(~'100vh - @{headerH}');
    }
}

@media @big {
    .locate-box {
        margin: 0 @margin;
    }
}

@media @sdi900 {
    .locate-box {
        margin: 0 @margin;
    }
}
