.summary .adress {
    display: none;
}

@media @big {
    .summary .adress {
        display: block;
    }
}

// SUMMARY PREVIEW

.summary {
    .potential-label {
        font-family: 'nunito';
        margin: @margin 0;
        font-size: @big-font;
        font-weight: 700;

        .highlight-value {
            color: @activeColor;
            text-transform: lowercase;
        }
    }

    .potential-values {
        margin-top: @margin;
        margin-bottom: @margin;

        .vk {
            position: relative;
            font-size: @medium-font;
            margin-bottom: (@margin / 2);
            display: flex;
            flex-direction: column-reverse;

            &:before {
                position: absolute;
                top: 0;
                content: ' ';
                display: inline-block;
                width: 2em;
                height: 2em;
                background-position: bottom left;
                background-repeat: no-repeat;
                background-size: contain;
                margin-bottom: -1.2em;
            }

            &.buying-price:before {
                background-image: url(../../asset/svg/paper-money.svg);
            }

            &.green-cert:before {
                background-image: url(../../asset/svg/paper-green.svg);
            }

            &.gain-elec:before {
                background-image: url(../../asset/svg/paper-elec.svg);
            }

            &.gain-thermal:before {
                background-image: url(../../asset/svg/paper-water.svg);
            }

            &.gain-env:before {
                background-image: url(../../asset/svg/paper-env.svg);
            }

            .value {
                font-family: 'nunito', Helvetica, Arial, Verdana, sans-serif; //from cs-ibge
                font-weight: @fwExtraBold; //from cs-ibge
                line-height: 1.05; //from cs-ibge
                font-size: 1.412rem; //from cs-ibge
                color: @headingColor; //from cs-ibge
                display: block;
                padding-left: 2em;
            }

            .key {
                width: 100%;
                display: block;
                padding-left: 2em;
            }
        }

        .note {
            font-size: @small-font;
        }
    }

    .summary-area .vk {
        font-size: @small-font;

        .value {
            margin-right: 1ch;
        }
    }

    .toggle {
        margin-top: @margin;
    }
}

// SUMMARY ADJUSTER

.summary-detailled {
    h2 {
        font-size: @medium-font;
        font-weight: 700;
        margin-top: @margin;
        margin-bottom: (@margin / 2);
    }

    .vk {
        font-size: @small-font;
        line-height: 125%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;

        .value {
            font-weight: 600;
            margin-right: 1ch;
            width: 15ch;
            text-align: right;
            flex-shrink: 0;
        }
    }

    .detail-footer {
        margin-top: @margin;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .print {
            width: 60%;

            .solar-inner-btn {
                font-size: @small-font !important;
            }
        }

        .reset {
            width: 30%;
        }

        .action-print {
            display: flex;
            align-items: center;
            margin-top: @margin * 2;

            .action-picto {
                margin-right: @margin;
            }
        }
    }
}

// NO SUN MESSAGE

.sol-no-preview-msg {
    margin-top: @margin * 2;
    line-height: 125%;
    font-size: @medium-font;

    > div {
        margin-top: @margin;
    }
}

.action-step,
.action-step a {
    font-size: @big-font;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: @margin;
    box-shadow: none;
    color: @textColor !important;


    .step-number {
        .rounded-border;
        font-weight: 700;
        position: relative;
        width: @roundedW;
        height: @roundedW;
        border-radius: @roundedW;
        background-color: @yellow;
        color: @textColor;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: @margin;
        font-size: inherit;

        &:hover {
            background: transparent;
        }

        &:after {
            .absolute(0, 0, 0, 0);
            z-index: -1;
            content: ' ';
            border-radius: @roundedW;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        &:hover:after {
            border: 2px solid #fff;
            background-color: @green;
        }
    }

    .step-label {
        margin-left: (@margin / 2);
    }
}

.actions .action-primary {
    padding-bottom: @margin;
    margin-bottom: @margin;

    .action {
        margin: 0;
    }

    .action-step .step-number {
        width: @roundedW * 1.3;
        height: @roundedW * 1.3;
        background-color: @green;
        color: @textColor;
        font-size: (@roundedW / 2) * 1.3;

        &:hover {
            background: transparent;
        }
    }
}
