// Search 
@media @sdi-small {

    .project-list {
        display: block;

        .wrapper--left {
            margin: 0;
            height: 50vh;
        }

        .wrapper--right {
            .search-input-wrapper {
                &__picto {
                    font-size: 1rem;
                }

                input {
                    width: 100%;
                    font-size: 1rem;
                }
            }

            .post-input-wrapper {
                display: block;

                >div {
                    width: 100%;
                    margin-left: 0px;
                    margin-right: 0px;
                }
            }
        }

    }
}

//Profile 
@media @sdi-small {

    .main.form {
        .sidebar {
            width: 100%;
            border: 0px;
            padding-bottom: @margin;
            padding-top: (@margin / 2);

            h1 {
                display: none;
            }
        }

        .form-select {
            display: block;
        }

        .content--body {
            display: block;
        }

        .content {

            .project-preview,
            .profile__list {
                margin: 0;
                padding-bottom: @margin;
            }
        }
    }
}


//Form View

@media @sdi-small {

    .main.form {

        .app-name__wrapper:after {
            display: none;
        }

        .header__content {
            width: 100%;
            border: 0px;

            .timeline__wrapper {
                flex-wrap: wrap;

                .timeline {
                    flex: 1;
                }

                .btn {
                    margin-top: @margin;
                    margin-right: @margin;
                }
            }
        }

        .header__content-top {
            flex-direction: column;
            align-items: baseline;
            margin: 0px;

            >div {
                width: 100%;
            }

            .btn,
            .header__tools .select-profile {
                width: 100%;
                margin-bottom: @margin;
            }
        }

        .panel .container {
            display: block;

            &--Horizontal>div {
                margin: 0px;
            }
        }
    }
}

// Modal

@media @sdi-small {
    .modal__background .modal__box {
        width: 90vw;
        height: 100vh;
    }
}


// Form Editor

.editor__body {
    z-index: 10; // to prevent timeline item to get over modals tiggered within editor body - should be removed once modals are on top of all.

    .unit--read.unit {
        margin-bottom: 0px;
    }
}

@media @sdi-small {
    .editor__background {
        right: 0px;

        .editor__body {
            display: block;

            >div {
                height: auto;
                margin: 0px;
            }

            .widget-wrapper .widget-wrapper-sub {
                display: block;
                height: auto;

                .editor__units,
                .editor__ui-singleview {
                    padding-right: 0px;
                }
            }
        }

        .editor__widget {
            height: auto;
            padding-bottom: @margin;
            border-bottom: 0px;
        }
    }

}



// 