// body[lang='fr'] .embed .brand-name{
//     width: 300px !important;
// }

// body[lang='nl'] .embed .brand-name {
//     width: 255px !important;
// }

.embed {

    .brand-logo {
        .absolute(initial, initial, 10px, 10px);
        background-color: #fff;
        border-width: 1px;
        border-style: solid;
        border-color: @borderLightColor;
        border-bottom-color: #fff;
        border-left-color: #fff;
        height: 18px;

        > div {
            height: 25px;
            background-position: top left;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}

.embed {
    .absolute(0, 0, 0, 0);
    border: 1px solid @borderExtraLightColor;

    .main {
        .absolute(10px, 10px, 10px, 10px);
        overflow: hidden;
        margin: 0; // override @media querie

        .map-wrapper {
            .absolute(0, 30%, 0, 0);
            width: auto; // override @media querie
            height: auto; // override @media querie
            margin: 0; // override @media querie
        }

        .legend,
        .sidebar-main {
            .absolute(0, 0, 0, calc(~'70% + @{margin}'));
            overflow-y: auto;
            background-color: #fff;
            font-size: 80%;
            width: auto;
        }

        div.legend {
            .map-title {
                h1 {
                    .word-wrap;
                    font-size: 200%;
                    letter-spacing: -0.5px;
                    line-height: 1.05;
                    margin-bottom: @margin;

                    a {
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                            color: #000;
                        }
                    }
                }
            }

            .link {
                margin: @margin 0;
                font-size: initial;
                display: flex;

                &:before {
                    .fa();
                    .legendItemPosition;
                    content: @fa-var-external-link-alt;
                    text-decoration: none;
                    justify-content: center;
                }
            }

            .description {
                font-size: 0.9rem;
                margin-bottom: @margin;
                line-height: 120%;
            }

            h2 {
                font-size: 150%;
            }

            .legend-group.named {
                width: 100%;
                margin-bottom: @margin;

                .legend-group-title {
                    font-weight: 600;
                    margin-bottom: @small-margin;
                }

                .legend-group-items {
                    border-left: 1px solid @borderLightColor;
                    padding-left: @margin;
                    margin-left: @margin;
                }
            }

            .legend-item {
                display: flex;
                align-items: center;
                min-height: 25px;

                .item-style {
                    .legendItemPosition;
                }

                .item-label {
                    .word-wrap;
                }
            }
        }
    }

    .lang-switch {
        .transition;
        .absolute(0, initial, initial, 0);
        background-color: #fff;
        border-width: 1px;
        border-style: solid;
        border-color: @borderLightColor;
        border-top-color: #fff;
        border-left-color: #fff;
        cursor: default;
        padding: 0 @small-margin @small-margin 0;
        font-size: 80%;

        &:after {
            .fa();
            content: @fa-var-globe;
            margin-left: @small-margin !important;
            padding: 0 !important;
        }

        &:hover {
            color: #000;

            &:after {
                color: @activeColor;
            }
        }
    }
}
