.main.interface {
    left: 0;
    right: 0;
    padding: @margin;
    // background-color: @bgLightColor;

    .components__list {
        display: flex;
        flex-wrap: wrap;
    }

    .component__wrapper {
        margin: 0 @margin * 2;
        // display: inline-block;

        .component__title {
            margin-top: @margin * 2;
            margin-bottom: @margin;
            color: @inactiveColor;
        }

        .component {
            margin: @margin 0;
            padding: @margin * 4;
            background-color: @bodyBgColor;
            width: fit-content;
            border-radius: 15px;
            background: #ffffff;
            box-shadow: 15px 15px 30px #d9d9d9, -15px -15px 30px #ffffff;
        }
    }
}

.component button {
    margin-right: @margin;
    &:last-child {
        margin: 0px;
    }
}

.component .collapsible-extra__wrapper {
    width: 60ch;
}
.component details {
    width: 40ch;
}

.btn.icon-only.component-tooltip {
    .fas();
    color: @activeColor;
    margin: 0px;
    margin: (@margin / 2);
    &:hover,
    &:focus-visible {
        // color: @bodyBgColor;
    }
}
