@import 'sdi.less';

@import './general.less';
@import './interface.less';
@import './panel.less';
@import './ui-widget.less';

.tuto-links {
    display: inline-block;
    padding: 15px 7.5px;
    margin-right: 15px;
    cursor: default;
    &:hover {
        text-decoration: underline;
    }
}
