.panel {
    border-top: 1px solid #000;
    padding-top: @margin;
    width: calc(~"100%/3 - @{margin}/3*2");


    .app-infos {
        margin-bottom: @margin;
        padding-bottom: @margin;
        border-bottom: 1px solid #000;
    }

    .list {
        margin-top: @margin;

        .list-item {
            padding-bottom: (@margin / 2);
            cursor: default;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: @inactiveColor;

            .list-item-label {
                color: @textColor;
                margin-right: 1ch;
            }

            .description {
                color: @inactiveColor;
            }

            &.active .list-item-label,
            &:hover .list-item-label {
                color: @activeColor;
            }
        }
    }


    .term-list {
        padding-bottom: @margin;
        border-bottom: 1px solid #000;
    }

    .detail {
        position: relative;
        margin-bottom: @margin;
        padding-bottom: @margin;
        border-bottom: 1px solid #000;

        .description {
            margin-bottom: @margin;
            line-height: 130%;
        }

        .btn-close {
            .absolute(-@margin, 0, auto, auto);
            margin: 0;
        }
    }

    .btn {
        align-self: baseline;
    }

    .btn-3 {
        margin-right: @margin;
    }

    h2 .edit-name {
        text-decoration: underline;
    }

    textarea {
        height: 6em;
    }
}

.panel {
    display: flex;
    flex-direction: column;

    .list {
        overflow: auto;
    }
}