.universe-inner .main {
    display: flex;

    >div:nth-child(2) {
        margin: 0 @margin;
    }
}


.universe-inner {

    h1 {
        .word-wrap();
    }

    h2 {
        margin-bottom: @margin;
    }

    .input-wrapper {
        display: flex;
        flex-direction: column;

        >div {
            width: 100%;
        }

        .input-label {
            margin-bottom: (@margin / 2);
        }

        input,
        textarea {
            margin-bottom: @margin;
        }
    }
}