.main.finance {
    .content--body {
        padding-left: @margin;

        .text--finance {
            padding-right: 33%;
            min-width: 600px;
        }
    }
    .geo-finance-show-thermic-needs {
        margin-bottom: @margin;
    }

    table tbody {
        border-bottom: 1px solid #000;
    }

    table thead tr {
        height: initial !important;

        th {
            max-width: 100px;
            padding: (@margin / 2);

            &.building-class {
                background-color: #d7d7d7;
            }

            &.system-closed {
                background-color: #e1cfc1;
            }
            &.system-open {
                background-color: #c2d4d8;
            }
            &.thermic-need {
                background-color: #e3e3e3;
            }
        }
    }

    td {
        &.building-class {
            background-color: #f2f2f2;
            font-weight: @fwSemiBold;
        }

        &.system-closed {
            background-color: #fce9d9;
            font-weight: @fwSemiBold;
        }
        &.system-open {
            background-color: #daeef3;
            font-weight: @fwSemiBold;
        }
        &.building-type {
            background-color: #f2f2f2;
            vertical-align: middle;
            font-weight: @fwSemiBold;
        }
    }

    .table-remark {
        font-size: 0.7rem;
        margin-top: (@margin / 2);
        margin-bottom: @margin;
        padding-right: 33%;
        min-width: 600px;
    }
}
