// debug

.sidebar {
    background: #fefefe;
}

.content-top {
    background: #f3f3f3;
}

.content-bottom {
    background: #e6e6e6;
}

// @big-font: @gui-font-size * 1.75;
// @medium-font: @gui-font-size * 1.25;
// @small-font: @gui-font-size * 0.9;

@contextW: 75vw;
@sidebarW: calc(~'100vw - @{contextW} - @{margin} * 3');
@sidebarH: calc(~'100vh - @{headerH} - @{margin}');
@illuW: calc(~'(@{contextW} - 2 * @{margin}) / 3');
@illuW-medium: calc(~'100vw / 3 - 2 * @{margin}');
@illuW-mob: calc(~'85vw - 4 * @{margin-mob}');
@illuInfosW: calc(~'((@{contextW} - 2 * @{margin}) / 3) - @{margin} * 2');
@illuInfosW-medium: calc(~'((100vw - 2 * @{margin}) / 3) - @{margin} * 3');

@roundedW: 4rem;
@toggleH: 2rem;

.rounded-border {
    border: 1px solid #333;
}

.link-underline (@color: @activeColor, @thickness: 2px) {
    text-decoration: none;
    background-image: linear-gradient(to right, @color, @color);
    background-position: 0 1.2em;
    background-repeat: repeat-x;
    background-size: 8px @thickness;
}

// solar media queries

@big: ~'screen and (min-width: 1025px)';
@sdi900: ~'screen and (min-width: 900px)';
@medium: ~'screen and (min-width: 600px)';

// STYLES

@media @medium {
    body {
        .absolute(0, 0, 0, 0);
        overflow-y: auto;
    }
}

// more margin to align content on logo picto

.main {
    padding-left: 28px;
    padding-right: @margin;
    overflow: hidden;
}

// structure

.main>div {
    display: flex;

    .sidebar {
        width: 320px;
        flex-shrink: 0;
        margin-right: @margin*0.5;
        padding-right: @margin*0.5;


        &.sidebar-general {
            overflow-y: auto;
        }
    }

    .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        // overflow: hidden;
        overflow-y: auto;
    }
}

.footer {
    padding-left: calc(~'@{margin} + 28px');

    .content--footer {
        // font-size: 0.6rem;
        // font-weight: @fwLight;
        background-color: @bodyBgColor;

        a {
            border: 0px;
        }

        a:after {
            display: none;
        }

        p {
            margin: 0px;
        }
    }
}

.piezo-title {
    position: absolute;
    margin-left: 20px;
    margin-top: 2px;
    font-weight: @fwSemiBold;
    font-size: 0.8rem;

    a:after {
        display: none;
    }
}