.map-wrapper {

    .loading-layer-wrapper {
        .absolute(auto, 0, 0, auto);
        z-index: 10;
        min-width: 200px;
        padding-right: @small-margin;
        padding-top: @small-margin;
        border: 1px solid @borderLightColor;
        border-bottom-color: @bodyBgColor;
        border-right-color: @bodyBgColor;
        background-color: @mapBgColor;
        font-size: 0.8rem;

        .loading-layer {
            margin-top: @small-margin;
        }
    }

}