.main.license {
    .carrot,
    .table--depth {
        display: none;
    }
}

.constraints__header {
    p {
        margin-left: 4 * @margin;
        line-height: 125%;
        // font-weight: @fwThin;
    }

    > div {
        margin-bottom: (@margin / 2);
    }
    &--water,
    &--soil,
    &--natura,
    &--urban,
    &--metronord {
        &.forbidden {
            color: red;
        }

        .icon {
            .fa();

            display: block;
            float: left;
            padding-left: calc(~'@{margin} * 4 - 2em');

            &.forbidden {
                color: red;
            }
            &.allowed {
                color: @activeColor;
            }
            &.warning {
                color: orange;
            }
        }

        .info {
            padding-left: @margin * 4;
        }
    }

    &--soil {
        .constraints__header--soil__title {
            font-weight: @fwBold !important;
            margin-bottom: @margin;
        }
    }

    &__footer {
        font-style: italic;
        margin-top: @margin;
        margin-bottom: @margin * 2 !important;
        padding-left: @margin * 4;
    }
}

h2.constraint__section-title {
    margin-bottom: @margin;
    padding-left: @margin;
    // &:before {
    //     .awsomefont;
    //     content: @fa-var-chevron-circle-down;
    //     margin-right: @margin;
    // }
}

.constraints__body {
    counter-reset: section;
    p {
        margin-left: 4 * @margin;
        // font-weight: @fwThin;
        line-height: 125%;
    }

    hr {
        height: 1px;
        background-color: @borderDarkColor;
        display: block;

        // &:before {
        //     .awsomefont;
        //     content: @fa-var-arrow-right;
        //     display: block;
        //     color: @textColor;
        //     padding-top: @margin;
        //     padding-bottom: @margin;
        //     display: block;
        //     margin-left: @margin * 1.5;
        // }
    }

    h3 {
        margin-top: @margin !important;
        margin-left: 4 * @margin !important;

        &:before {
            counter-increment: section;
            content: counter(section);
            color: white;
            margin-right: 1ch;
            margin-left: calc(~'(1.5em + 1ch) * -1');
            width: 1.5em;
            height: 1.5em;
            background-color: @textColor;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 2em;
        }
    }
}
