.radio__item {
    font-size: 1rem;
    min-height: initial;
    margin-bottom: (@margin / 2);

    .radio__label {
        font-weight: initial;
        color: @inactiveColor;
    }

    &.selected .radio__label {
        font-weight: @fwSemiBold;
        color: @textColor;
    }
}

a,
.md a,
.markdown a {
    color: @textColor;
    text-decoration: none;
    border-bottom: 1px solid @activeColor;
    &:hover {
        color: @activeColor;
        text-decoration: none;
    }
    &:after {
        .fa();
        content: @fa-var-external-link-alt;
        font-size: 0.65rem;
        margin-left: 0.5ch;
        vertical-align: super;
    }
}

.header a,
.footer a {
    border: none;
    text-decoration: none;
    &:after {
        display: none;
    }
}

.sidebar .credits a,
.sidebar .disclaimer a {
    // border: none;
    &:after {
        display: none;
    }
}
.sidebar a.btn-link {
    box-shadow: initial;
    border: none;
    display: block;
    &:after {
        display: none;
    }
}

.paginator-text {
    .markdown blockquote,
    .md blockquote {
        border-left: 0px;
        padding: 0px;
        color: @textColor;
        p:before {
            .far();
            width: 20px;
            content: @fa-var-file;
            margin-left: -25px;
            margin-right: 5px;
        }
    }
}

.md--small {
    font-size: 0.8rem;
    line-height: 110%;
}
