.main.technical {
    .sidebar-header {
        // height: 100%;
        min-height: 3rem;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #000000;
        padding: 7.5px;
        width: 100%;
        font-weight: 500;
        font-size: 1.4rem;
        cursor: default;
    }

    // .content .content--body {
    //     justify-content: center;
    //     scroll-snap-align: center;
    // }
}
