.metadata-editor .metadata-info {
    .app-col-main {
        .word-wrap;
        // font-size: 0.8rem;
    }
    select {
        width: 250px;
        width: fit-content;
        font-size: inherit;
    }

    .publication .label {
        margin-top: @margin;
    }

    .keyword,
    .topic {
        margin-bottom: @small-margin;

        .btn-remove.icon-only {
            margin-left: 0px;
            margin-right: @small-margin;

            &:before {
                margin-left: 0px;
            }
        }
    }

    .point-of-contact {
        margin-bottom: @margin;
        > * {
            display: block;
        }
    }
}
