.metadata-editor {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    border-top: @borderLight;
    padding-top: @margin;
    display: flex;
    flex-direction: column;

    * {
        box-sizing: border-box;
    }

    h2 {
        margin-bottom: @margin *1.5;
    }

    .label {
        margin-bottom: @small-margin;
        font-weight: @fwSemiBold;

        &::first-letter {
            text-transform: uppercase;
        }
    }

    .metadata__header {
        display: flex;
        align-items: center;
        margin-bottom: @margin;

        .switch-out__fieldset {
            margin-left: @margin*2;
        }

        .meta-action {
            margin-left: auto;
        }
    }

    .meta-wrapper {
        height: 100%;
        display: flex;

        .meta-edit {
            .flex(@wrap: nowrap, @align: flex-start, @justify: initial);
            .widgetBackground;
            height: 100%;
            padding: @margin 0;
            width: calc(~'100vw - 2 * @{margin}');

            .main__wrapper {
                display: flex;
                flex-direction: column;
                flex: 2;

                .lang__wrapper {
                    display: flex;
                }
            }
        }

        .metadata-info,
        .meta-common {
            flex: 1;
        }

        .metadata-info {
            height: 100%;
            overflow-y: auto;

            .select-tail__wrapper {
                position: relative;
                max-height: 30rem;
            }
        }

        .meta-fr,
        .meta-nl,
        .meta-en {
            flex: 1;
        }

        .metadata-info,
        .meta-fr,
        .meta-nl,
        .meta-en,
        .meta-common {
            padding: 0 @margin;

            >* {
                .word-wrap;
                display: block;
                width: 100%;
            }



            .app-col-main {
                height: 100%;
            }
        }

        .metadata-label {
            margin-bottom: @margin;

        }
    }

}