.metadata-list {
    // width: calc(~'100% - @{margin} * 2');
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    // margin: auto;
    border-top: @borderLight;
    padding-top: @margin;

    h1 {
        margin-bottom: @margin * 2;
    }

    .metadata__wrapper {
        display: flex;
        height: calc(~'100% - 47px - 2 * @{margin}');
        overflow: hidden;

        .schema-list__wrapper {
            display: flex;
            flex-direction: column;
            overflow: hidden;
            max-width: 20rem;
            padding: @margin;
            padding-right: 0px;
            flex-shrink: 0;
            background-color: @bgLightColor;


            h2 {
                flex-shrink: 0;
                margin-bottom: @margin;
            }

            fieldset {
                overflow-y: auto;
                padding-right: (@margin/2);
                margin-right: (@margin/2);

            }
        }
    }

    .infinite-table {
        .table-toolbar {
            border-top: 0px;
        }

        &.loading {
            .flex(@justify: center; );
            flex-direction: row;
        }

        .table-header {
            .table-cell {
                // font-weight: 100;
                text-transform: uppercase;
                padding: (@margin / 2) 0;

                &:first-child {
                    text-align: left;
                    min-width: auto;
                }
            }
        }
    }
}