.sitex-inner header {

    .header-toolbar {
        width: calc(~"100%/5*3 - 2*@{margin}")
    }

    .network-status {
        // .absolute(@margin, @margin, initial, initial);
        // font-size: 1.25rem;
        // font-weight: @fwSemiBold;
        // display: flex;
        margin-right: auto;

        &:before {
            .fa();
            margin-right: (@margin / 2);
            // color: @activeColor;
            color: inherit;
        }

        &.status-good {
            color: @blue ;

            &::before {
                content: @fa-var-wifi;
            }
        }

        &.status-medium {
            color: @green;

            &::before {
                content: @fa-var-wifi;
            }
        }

        &.status-bad {
            color: @inactiveColor;

            &::before {
                content: @fa-var-wifi;
            }
        }

        &.status-critical {
            color: @inactiveColor;

            &::before {
                content: @fa-var-times;
            }
        }
    }

    .fullscreen-app-enter,
    .fullscreen-app-exit {
        margin-right: @margin;
        cursor: default;

        &::before {
            .fa();
            content: @fa-var-expand;
            margin-right: 5px !important;
            color: @activeColor;
        }

        &:hover::before {
            color: @textColor;
        }
    }

    .vademecum {
        margin-right: @margin;

        .icon {
            margin-right: 5px !important;
            color: @activeColor;
        }
    }

    .fullscreen-app-exit::before {
        content: @fa-var-compress;
    }

    .logout {
        cursor: default;

        .icon {
            margin-right: 5px !important;
            color: @activeColor;
        }
    }

    .vademecum,
    .logout {
        &:hover .icon {
            color: @textColor;
        }
    }
}