.input.input--file {
    overflow: hidden;

    .input--files__content {
        display: flex;
        overflow: hidden;

    }

    .upload__wrapper {
        background: @bodyBgColor;
        display: flex;
        flex-direction: column;
        padding: (@margin/2);
        border-top: @borderLight;
        border-bottom: @borderLight;
        height: fit-content;
        width: 100%;

        input[type='file'] {
            background-color: @bodyBgColor;
            border: 0px;
        }

        button {
            margin-top: @margin;
        }
    }

    .field--image {
        display: inline-block;
        margin-right: (@margin/3);

        img {
            height: 64px;
            margin-bottom: (@margin / 3);
        }
    }

    .preview--doc__wrapper {
        margin-left: @margin;
        margin-bottom: @margin;
        width: 100%;
        overflow: auto;

        .field--doc {
            margin-bottom: (@margin/2);

            a {
                // display: flex;
            }
        }
    }
}