@inputFontsize : 2.5rem;

.input__zone {
    flex-shrink: 0;
    flex-grow: 0;
    // height: calc(~"50vh - @{headerH} / 2 - @{margin} * 2");
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: @margin;
    border-radius: @borderRadius;
    background-color: @bgLightColor;

    H2 {
        // position: sticky;
        // top: 0;
        margin-bottom: @margin ;

    }

    .input {
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow: auto;

        &--string,
        &--number {
            font-size: @inputFontsize;
        }

        textarea,
        input {
            width: 100%;
        }

        .radio__item input {
            width: initial;
        }


        .input__actions {
            flex-grow: 0;
            flex-shrink: 0;
            margin-top: auto;
            display: flex;
            justify-content: space-between;
            padding-top: @margin*2;

            .btn-next {
                margin-left: auto;
            }
        }
    }


}