.kv__wrapper {
    display: flex;
    align-items: center;
    cursor: default;
    min-height: 3rem;
    padding: 0.25rem 0;
    overflow: hidden;
    border-top: @borderLight;

    &:first-child {
        border-top: initial;
    }

    &.missing,
    &.present:not(.touched) {
        color: @greyDark;
    }

    &.touched {
        color: @textColor;

        &.active .status.active {
            display: none;
        }
    }

    &.active {
        background-color: @bgLightColor;
        padding-left: (@margin / 2);
        // box-shadow: 0px 0px 0px (@margin/2) @yellowLight;
        color: @activeColor !important;
    }

    &.error {
        background-color: @yellow;
    }

    .key,
    .value {
        position: relative;
        align-items: center;
        font-size: 1rem;
    }

    .key {
        font-weight: @fwSemiBold;
        margin-right: @margin;
        flex-shrink: 0;
    }

    .value {
        // width: 100%;
        flex-shrink: 1;
        // flex-grow: 1;
        margin-right: @margin;
        margin-left: auto;
        font-size: 2rem;

        &--number {
            // text-align: right;
        }

        &--empty {
            width: 100%;

            &:before {
                content: ' ';
                position: absolute;
                top: 50%;
                left: 0;
                border-bottom: 1px dotted @greyDark;
                width: 100%;
            }
        }
    }

    .status__wrapper {
        width: 2.5rem;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        > * {
            flex-shrink: 0;
        }

        .status.active {
            .fa();
            // color: @activeColor;
        }
    }
}

// Occupancies summary

.kv__wrapper {
    .occup-summary__wrapper {
        margin-left: auto;
        width: 250px;

        .occup-summary {
            display: flex;
            align-items: center;
            padding: (@margin / 2);
            border: @borderDark;
            border-bottom: initial;
            background-color: white;

            &:last-child {
                border-bottom: @borderDark;
            }

            &.selected {
                background-color: @yellowLight;
            }

            .level {
                font-weight: @fwSemiBold;
                font-size: 1.25rem;
                margin-right: @margin;
            }

            .code {
                font-size: 1rem;
                margin-right: @margin;
                // text-align: right;
            }

            .area {
                flex-shrink: 0;
                margin-left: auto;
            }
        }
    }
}

/// Files summary

.files-summary__wrapper {
    margin-left: auto;
    margin-right: @margin;

    .field--doc {
        margin-bottom: (@margin / 2);

        &:last-child {
            margin: 0px;
        }
    }

    .field--image {
        display: inline-block;
        margin-right: (@margin / 3);

        img {
            height: 64px;
            margin-bottom: (@margin / 3);
        }
    }
}
