.sitex-inner {
    .status-bar {
        .absolute(initial, @margin, @margin, initial);
        padding: (@margin / 2);
        background-color: @bodyBgColor;
        z-index: 2;
        overflow: hidden;
        border: @borderLight;

        .notification {
            padding: 0 0.5em;
            margin-bottom: 0.5em;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;

            // &.icon {
            //     .fa();
            // } TODO

            &.status-error {
                background-color: #f3dede;
            }

            &.status-info {
                background-color: #edfaff;
            }
        }
    }

    // .main.index,
    // .main.preview {
    //     .status-bar {
    //         border-top: @borderLight;
    //         border-left: @borderLight;
    //     }
    // }
}
