.header {
    .flex(center, initial, initial);
    padding: 0 @margin;
    font-size: 80%;

    > div {
        .flex(center, initial, initial);
        height: @headerH;
    }

    * {
        font-size: inherit !important;
        color: @textColor;
    }

    .brand-logo {
        > div {
            height: 35px;
            background-position: center left;
            background-repeat: no-repeat;
            background-size: contain;
        }

        .brand-name {
            background-image: url('../assets/imgs/logo.svg');
            width: 95px;
            margin-right: 0px;
            margin-bottom: 3px;
        }
    }

    .app-title {
        font-weight: @fwSemiBold;
        font-size: 15px !important;
        letter-spacing: -0.5px;
        margin-left: 1ch;
        &:before {
            .fas();
            content: @fa-var-chevron-right;
            font-size: inherit;
            color: inherit;
            width: 1em;
            height: 1em;
            margin-right: 0.5em;
        }
    }

    .lang-switch,
    .navigate,
    .app-select .head-label {
        .transition;
        cursor: default;
        margin-left: @margin;
        // text-transform: uppercase;

        &:before {
            .fa();
            margin-right: @small-margin !important;
            color: @activeColor;
        }

        &:hover {
            color: @textColor;

            &:before {
                color: @textColor;
            }
        }
    }

    .app-listwrapper {
        .absolute(0px, calc(~'@{panel-rightW} + 25px'), auto, auto);

        .app-listview:before {
            content: @fa-var-ellipsis-h;
        }
    }

    .header-toolbar {
        .absolute(0px, @margin, auto, auto);
        z-index: 99999999;

        a {
            color: @textColor;
            text-decoration: none;
            cursor: default;
        }

        .lang-switch:before {
            content: @fa-var-comment;
        }

        .documentation:before {
            .far();
            content: @fa-var-life-ring;
        }

        .app-select .head-label::before {
            content: @fa-var-home;
        }

        .app-select .head-label {
            margin: 0px;
        }

        .navigate.login::before {
            content: @fa-var-sign-in-alt;
        }
    }
}
