.legend-group {
    width: 100%;
}

.legend-decorated {
    position: relative;
    width: 100%;
    padding-right: (@margin / 2);
    // margin-right: @margin * 2;
    border-right: @borderDark;

    .decorated > .btn-zoomOnLayer {
        .absolute(0, -0.6em, initial, initial);
        background-color: @bodyBgColor;
        // border: @borderDark;
        // border-radius: 2em;
    }

    &.visible {
        border-right-color: transparent;
    }
}
