.map-navigator {
    height: 100%;
    overflow-y: auto;
    border-top: @borderDark;

    .input-wrapper {
        width: 65%;
        margin-top: @margin;
        display: flex;
        flex-direction: row-reverse;
        background-color: @white;
        border: 1px solid @borderLightColor;

        input {
            width: calc(~'100% - @{margin}');
            border: 0px;
            font-size: 1.5rem;
            background-color: transparent;
        }

        .search-icon {
            font-size: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2em;

            .magnifier {
                &:before {
                    .fa();
                    content: @fa-var-search;
                }
            }
        }
    }

    .maps-container {
        .flex(flex-start, flex-start, wrap);
        position: relative;
        margin-top: @margin;

        .map-navigator-tile {
            .transition;
            .widgetActiveBackground;
            position: relative;
            width: calc(~'25% - @{margin}');
            height: 400px;
            padding: @margin;
            padding-bottom: 0px;
            margin: (@margin / 2);
            min-width: 200px;
            text-align: center;

            &:hover {
                background: #efefef;
            }

            .map-tile-img {
                height: 180px;
                width: 100%;
            }

            img {
                max-width: 100%;
                height: auto;
                max-height: 100%;
                margin-bottom: @small-margin;
            }

            .map-title {
                .word-wrap;
                font-size: 1.6em;
                font-weight: @fwExtraBold;
                margin: @margin 0;
                text-align: center;
            }

            .read-more {
                text-align: center;
                padding: @margin;

                &:after {
                    .fa();
                    content: @fa-var-plus;
                }
            }
        }
    }
}
