.sidebar-header.feature-header {
    .layer-name {
        margin: @margin 0;
        margin-top: (@margin / 2);
        font-size: 0.8rem;
    }
}

.btn-zoomOnFeature {
    margin-bottom: @margin;
}

.feature-view {
    &.config {
        ////// STRUCTURE  //////

        .feature-view-header {
            .widgetBackground;
            .flex(baseline, space-between, nowrap);
            font-size: 80%;
            margin-bottom: @margin;

            .layer-name {
                text-transform: uppercase;
            }

            .btn-close:before {
                content: @fa-var-times;
            }
        }

        .feature-field {
            .word-wrap;
            margin-bottom: @small-margin;
        }

        .feature-field-label {
            .labelStyle;
        }

        ////// STYLES //////

        .type- {
            &string {}

            &number {
                font-family: monospace;
            }

            &boolean {
                // color:blue;
            }

            &url {}

            &image {
                width: 100%;
                height: auto;
                margin: @margin 0;
            }
        }

        .level- {
            &normal {
                margin-bottom: @small-margin;
            }

            &title {
                font-weight: @fwLight  !important;
                font-size: 250%;
                line-height: 90%;
                letter-spacing: -1.5px;
                margin-bottom: @margin;
            }

            &subtitle {
                font-size: 150%;
                font-weight: @fwBold;
                margin-bottom: @margin;
            }
        }

        .style- {
            &normal {}

            &bold {
                font-weight: @fwBold;
            }

            &italic {
                font-style: italic;
            }

            &bold-italic {
                font-style: italic;
                font-weight: @fwBold;
            }
        }
    }
}

.map-and-table-and-feature .feature-view {

    // padding-left:@margin;
    .feature-row {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        border-top: 1px solid @borderLightColor;

        >div {
            padding: @small-margin 0;
        }

        >div:first-child {
            flex: 1;
        }

        >div:last-child {
            flex: 2;
        }
    }
}


.multifeatures {
    .feature-info-wrapper {
        position: relative;
        margin-top: @margin;
        border-top: @borderLight;
        padding-top: @margin;
    }

    .selection-index {
        .absolute(@margin, 0, initial, initial);
        border: 1px solid @textColor;
        border-radius: 2em;
        padding: 0.3em;
        font-size: 1.25rem;
        min-width: 3em;
        text-align: center;
    }
}