<style>
    .activity-profile-editor {
        width: 100%;
        display: flex;
    }

    .activity-help__wrapper {
        overflow: auto;
    }


    .activity-help-profile {
        flex: 1;
        margin-left: 30px;
    }

    .activity-syntax {
        display: flex;
    }

    .activity-syntax-example {
        margin-left: 30px;
    }

    .activity-unit-list {
        column-count: 4;
    }

    .activity-edit-item {
        border: 1px solid grey;
        padding-right: 1em;
        width: 50%;
    }

    .CodeMirror {
        height: auto !important;
        padding-bottom: 30px;
    }
</style>

<div class="activity-profile-editor">

    <div class="activity-edit-item">
        <textarea id="id_{{ widget.name }}" name="{{ widget.name }}" {% include "django/forms/widgets/attrs.html"
            %}>{% if widget.value %}{{ widget.value }}{% endif %}</textarea>
    </div>

    <div class="activity-help__wrapper">
        <div class="activity-help-profile">
        <h3>
            A profile is declared using the following syntax :
        </h3>
        <div class="activity-syntax">
            <pre>
  % A comment is a line starting with a "%"
  page new
    box vertical
      box horizontal
        widget list nb=10 ns="view" action="navigate-map" title="List of maps"
        widget list nb=5 ns="view" action="print-map"
        widget value aggregation="count" ns="view" action="link" titleFR="texte en français" titleNL="text in nl"
        widget value aggregation="count" ns="compose" action="link"
      box horizontal
        widget graph graphtype="barchart" ns="view" action="navigate-map"
        widget graph graphtype="piechart" ns="view" action="lang-choice" title="Language used in Atlas"

        </pre>               

        </div>
    </div>

     <div class="activity-syntax-example">
        <div><strong>IMPORTANT : </strong> indentation is with a <strong>double space</strong>.</div>
        <div><strong>page</strong> declare a page / available operator : <strong>[new]</strong></div>
        <div><strong>box</strong> declare a layout box / available operators : <strong>[horizontal,
                vertical]</strong></div>
        <div><strong>widget</strong> declare a widget to be displayed / available operators :
            <div class="activity-widget-list">
                {% for widget in widget.attrs.widgets %}
                <div class="activity-widget-item">{{ widget.tag }}: need option "{{widget.argument.key}}"    
                    <span class="widget-options">
                        {% if widget.argument.options %}
                            that can take next values: 
                            {% for o in widget.argument.options%} 
                                {{o}}
                            {% endfor %}
                        {% endif %}
                </div>  
                {% endfor %}
                <div><strong>widget options</strong> can be declared using <strong>[key=value]</strong></div>
            </div>

        </div>
    </div>

    </div>

    

</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.47.0/codemirror.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.47.0/addon/mode/simple.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.47.0/addon/hint/show-hint.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.47.0/codemirror.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.47.0/addon/hint/show-hint.css">
    <script>

        const atoms = /new|horizontal|vertical{% for widget in  widget.attrs.widgets %}|{{ widget }}{% endfor %}/;

        CodeMirror.defineSimpleMode("profile", {
            // The start state contains the rules that are intially used
            start: [
                // The regex matches the token, the token property contains the type
                // {regex: /"(?:[^\\]|\\.)*?(?:"|$)/, token: "string"},

                // Rules are matched in the order in which they appear, so there is
                // no ambiguity between this one and the one above
                {
                    regex: /(?:page|box|widget|multiwidget)\b/,
                    token: "keyword"
                },
                { regex: atoms, token: "atom" },
                {
                    regex: /0x[a-f\d]+|[-+]?(?:\.\d+|\d+\.?\d*)(?:e[-+]?\d+)?/i,
                    token: "number"
                },
                { regex: /\s*\%.*/, token: "comment" },
                { regex: /[=]+/, token: "operator" },
                // indent and dedent properties guide autoindentation
                //    {regex: /[\{\[\(]/, indent: true},
                //    {regex: /[\}\]\)]/, dedent: true},
            ],
            // The meta property contains global information about the mode. It
            // can contain properties like lineComment, which are supported by
            // all modes, and also directives like dontIndentStates, which are
            // specific to simple modes.
            meta: {
                dontIndentStates: ["comment"],
                lineComment: "%"
            }
        });

        CodeMirror.registerHelper('hintWords', 'profile', ['new', 'horizontal', 'vertical', {% for widget in widget.attrs.widgets %}'{{ widget }}', {% endfor %}])

        const ta = document.getElementById('id_{{widget.name}}')
        const mirror = CodeMirror.fromTextArea(ta, {
            mode: 'profile',
            indentWidget: 2,
            // indentWithTabs: false, this is the default value
            lineNumbers: true,
            styleActiveLine: true,
            extraKeys: {
                "Ctrl-Space": "autocomplete",
                "Tab": function (cm) {
                    cm.replaceSelection("  ", "end");
                }
            },
        });



    </script>