.map-wrapper {
    background: url('../assets/imgs/map-trame.png') repeat;
    border-color: @borderLightColor;
    border-style: solid;
    overflow: hidden !important;

    .map {
        height: 100%;
        width: 100%;
        border-width: 1px;
        border-style: inherit;
        border-color: inherit;

        &:focus-visible {
            border-width: 2px;
            border-color: @activeColor;
        }
    }

    .map-mode {
        .absolute(@small-margin, auto, auto, @small-margin);
        padding: @small-margin;
        min-width: 12px;
        min-height: 12px;
        background-color: @mapBgColor;
    }

    .control-box {
        .absolute(initial, 0, 0, initial);
        width: 20px;
        background: @bodyBgColor;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 1px solid @bodyBgColor;
        border-top-color: inherit;
        border-left-color: inherit;

        > div {
            position: relative;
            margin-top: (@margin / 2);

            button {
                .fa();
                width: 25px;
                height: 25px;
                background-color: @bodyBgColor;
                border: 0px;
                font-size: 11px;
                padding: initial;
                .icon {
                    color: @textColor;
                }

                &:before {
                    .fa();
                }

                &:hover {
                    color: @activeColor;
                }

            }

            &:last-child {
                margin-bottom: @small-margin * 3;
            }

        }
    }

    .rotate {
        height: 25px;
        width: 25px;
    }

    .fullscreen {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25px;
        width: 25px;

        button {
            padding: 0;

            // flex: 1;
            &.fullscreen-false:before {
                content: @fa-var-expand;
            }

            &.fullscreen-true:before {
                content: @fa-var-compress;
            }
        }
    }

    .credit {
        .absolute(initial, 0, 0, @small-margin) !important;
        font-size: 7pt;
        margin-bottom: 0px !important;
        width: calc(~'100% - @{small-margin}') !important;
        text-align: center;

        a {
            color: @greyDark;
            text-decoration: none;

            &:visited {
                color: @greyDark;
            }

            &:hover {
                color: @greyDark;
            }
        }
    }

    .map-scale {
        .absolute(initial, 20px - 1, 0, initial);
        padding: @small-margin;
        padding-right: 0;
        padding-bottom: 0;
        background-color: @bodyBgColor;
        border-color: @bodyBgColor;
        border-width: 1px;
        border-style: inherit;
        border-top-color: inherit;
        border-left-color: inherit;
        display: flex;
        align-items: flex-end;

        .map-scale-label {
            font-size: 7pt;
            padding-right: @small-margin;
        }

        .map-scale-line {
            display: flex;
            align-items: flex-end;
            border: @borderDark;
            border-top: 0px;
            height: 6px;

            .quarter {
                flex: 1;
                height: 33%;

                &:first-child {
                    border-right: @borderDark;
                }
            }

            .half {
                flex: 2;
                height: 66%;
                border-left: @borderDark;
            }
        }
    }
}

// Hide map credit except in embed
.map .credit {
    display: none;
}

.embed .map .credit {
    display: block;
}
