.tag__list {
    display: flex;
    flex-wrap: wrap;
}

.tag {
    position: relative;
    font-weight: @fwSemiBold;
    cursor: default;
    margin-right: (@margin / 2);
    margin-bottom: (@margin / 2);
    display: flex;
    align-items: center;
    background-color: @bodyBgColor;
    border-radius: 2em;
    min-height: 1.7rem;
    height: fit-content;
    width: fit-content;
    padding-right: 0.3rem;

    &__value {
        padding: 0 @margin;
    }

    button {
        // font-size: 0.8rem !important;
        height: 1.7rem !important;
        width: 1.7rem !important;
    }
}