.common {
    padding: @margin;

    h3 {
        color: @blue;

        &.title {
            margin-bottom: (@margin / 2);
        }
    }
}

.common .checkbox-with-text {
    &.professional {
        margin-top: @margin;
        border-top: @borderLight;
        padding: @margin 0;
        border-bottom: @borderLight;
        border-style: dotted;
    }

    .md {
        margin-left: @contentFirstColumnWidth;
    }
}




.common .permit {
    .checkbox__wrapper label {
        flex-direction: row-reverse;
        justify-content: left;

        input[type='checkbox'] {
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            width: @contentFirstColumnWidth;
            margin: 0px;
            padding: 0px;

            &::before {
                content: ' ';
                width: @permitPictoWidth;
                height: @permitPictoWidth;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                margin-right: @margin;
            }

            &[name='env-perm-switch']:before {
                background-image: url(../../../asset/pictos/01-permit-env-shadow.svg);
            }

            &[name='urba-perm-switch']:before {
                background-image: url(../../../asset/pictos/02-permit-urb-shadow.svg);
            }

            &[name='pro-switch']:before {
                background-image: url(../../../asset/pictos/16-facilitator.svg);
            }

            //overide default style
            &:after {
                content: ' ';
                width: @bigCheckboxWidth;
                height: @bigCheckboxWidth;
                background-image: url(../../../asset/pictos/checkbox_unchecked.svg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }

            &:checked:after {
                background-image: url(../../../asset/pictos/checkbox-checked.svg);
            }
        }
    }

}