.stretching-arrow__wrapper {
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 1;

    .picto-infiltration.pic-arrow-a-body {
        flex-grow: 1;
        padding: 0 5px;
        height: initial;

        svg {
            height: 100%;
            width: calc(~"100% - 24px");
            margin-left: 12px;
        }
    }

    .picto-infiltration.pic-arrow-a-tip {
        height: initial;
        display: flex;
        align-items: flex-start;
    }
}

.detail .list-elem.heritage-indented {
    .stretching-arrow__wrapper .picto-infiltration.pic-arrow-a-tip {
        display: none;
    }

    .md p:last-child {
        margin-bottom: 0px;
    }
}

.detail .indented-list-footer {
    margin-left: 0.7rem;
    margin-top: -2rem;

    .picto-infiltration.pic-arrow-b-to-b-left {
        width: 8rem;
    }
}