.detail {

    .indented-top {
        position: relative;
        display: flex;

        .description__wrapper {
            display: flex;

            .picto-infiltration.pic-arrow-c-big-body svg {
                height: 100%;
            }


            .picto-infiltration:not(.pic-arrow-c-big-body) {
                width: 4rem;
                position: absolute;
                margin-left: @margin*2;
            }
        }

        .indented-arrow-tip {
            margin-left: -6rem;
        }
    }


    .indented-list {
        margin-left: 5.5rem;
        display: flex;



        .list-elem {
            position: relative;
            display: flex;
            align-items: start;

            .stretching-arrow__wrapper {
                padding-top: 1rem;

                .picto-infiltration.pic-arrow-a-body {
                    svg {
                        width: calc(~"100% - 16px");
                        margin-left: 8px;
                    }
                }
            }

            .picto__wrapper {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                z-index: 2;
                margin-left: 1rem;
                margin-right: @margin;

                .picto-infiltration {

                    &.pic-circle-yes,
                    &.pic-circle-no,
                    &.pic-triangle {
                        margin-left: @margin*0.5;
                        margin-bottom: 1rem;
                    }
                }
            }

            .description {
                padding-left: 0px;
            }
        }
    }
}