.summary {

    .summary-section {
        border-top: @borderLight;
        display: flex;
    }

    h4.summary-title {
        .word-wrap();
        font-family: inherit;
        font-family: 'nunito', 'source_sans';
        color: @textColor;
        font-size: 1rem;
        flex-shrink: 0;
        width: calc(~"@{contentFirstColumnWidth} + @{margin}");
        border-right: @borderLight;
        padding: @margin*2;
        font-weight: @fwBold;
        display: flex;
        align-items: center;
    }

    .summary-info {
        flex: 5;
        padding-left: @margin*2;
    }

    .legal-list,
    .proximity-list,
    .hydrogeo-list,
    .funding-list {
        display: flex;
        align-items: baseline;
    }

    .list-elem.legal.env {
        width: calc(~'@{infoPictoWidth} + @{margin}*3');
        padding-left: 0px;
        margin-left: -10px;
    }

    .proximity-list,
    .hydrogeo-list,
    .funding-list {
        .list-elem {
            margin-right: @margin * 4;
        }
    }

    .list-elem {
        .word-wrap();
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        text-align: center;
        padding: @margin 0px;
        // padding: @margin (@margin);
        font-weight: @fwSemiBold;
        width: calc(~'@{infoPictoWidth} + @{margin}');

        // legal

        .pic-circle-yes,
        .pic-circle-no,
        .pic-triangle {
            margin-top: (@margin / 2);
        }

    }

    .proximity-list {

        .picto-infiltration {
            display: flex;
            align-items: flex-end;
        }
    }

    .legal-list,
    .legal-list.env {

        .list-elem.legal.env {
            margin-right: 40px;
        }

        .list-elem.legal.cat {
            width: calc(~'@{infoPictoWidth} + @{margin}');

            .picto-infiltration {
                padding-top: @margin;
            }
        }

    }

    .legal-list.urba,
    .legal-list.env-urba {
        .list-elem.legal.cat {
            width: calc(~'@{infoPictoWidth} + @{margin}*5');
            border-left: @borderLight;
            margin-left: @margin*2;
            margin-top: @margin;

            .picto-infiltration {
                padding-top: @margin;
            }
        }
    }
}